#App Specific CSS
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    height: 100%;
    font-size: 15px;
    margin-bottom: 60px;
}

#footer {
    position: fixed;
    bottom: 0px;
     /* Set the fixed height of the footer here */
    border-top: 1px solid #f5f5f5;
    background-color: #e5e5e5;
    vertical-align: top;
    z-index: 100;
}

.login-button
{
    margin-top: 10px;
}


#footer > .container {
    padding: 10px;

}

body > .container {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;

}

.row {
margin-left: 0px;
margin-right: 0px
}

/* Login buttons for Social */
.social-buttons{
    margin:12px 0
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.btn-go{
    color: #fff;
    background-color:#55acee;
}
.btn-go:hover{
    color: #fff;
    background-color:#59b5fa;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.btn-frozen {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

.date-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border-radius: 5px
}

.jumbotron.dashboard {
    padding-top: 5px;
    padding-bottom: 16px;
    margin-bottom: 30px;
}

.btn-group.align-right {
    float: right;
}

.ajaxLoader{
    display: none;
    min-width: 10px;
    padding: 3px 7px;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border-radius: 2px
}

.ticket-query-directive{
    min-height: 45px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #DCDCDC;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
/*//fonts*/
.font1{
    size: 4em;  
}
.font4
{
    color:#ff8000;
    font-weight: bold;
}
.font5
{
    color:#fff;
    font-size: 15px;
}
.font7
{
    font-size: 21px;
}
.font8
{
    margin-bottom: 10px;
}
.font9
{
    text-align: center;
}

/*//end of fonts*/
.collapselist
{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.knowledge_panel
{
    
    border:1px solid#eee;
    border-radius: 10px;
    padding: 10px;
}
.knowledge_main
{
    
    border:1px solid#eee;
    border-radius: 20px;
}
.knowledge_head
{
    background-color: #ff9933;
}

/*//home page*/

.main_home table a 
{
    color:#4db3d0;
}
.main_home
{
    background-color: #FAFAFA;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.minor_home
{
    background-color: #Fff;
    border-radius: 5px;
    position: relative;
    margin-right: 5px;
    overflow: hidden;
    padding: 0px;
    
}
.home_cover
{
    position: relative;
    margin-top: 30px;
    border:1px solid#eee;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;

}
.logged_in_users
{
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    margin-right: 3px;
    margin-top: 20px;
}

#active_users {
    position: relative;
    overflow-y: scroll;
    border: 1px solid#ccc;
    border-radius: 5px;
    padding-top: 5px;
    width: 100%;
    max-height: 150px;
  }
#active_users p
{
    margin-left: 8px;

}
.home_button
{
    background-color: #b20838;
    color:#fff;
}

/*//pie chart*/
#pie_container
{
    min-width: 300px;
    height: 300px; 
    max-width: 600px; 
   margin: 0 auto;
    
}
.pie 
{
    background-color: #FFF;
}
.panel_top
{
    background-color: #ff8000;
}
.preview_links
{
    margin-bottom: 10px;
}
.homenav
{
    background-color: #b20838;
}
.glyph
{
    color:#fff;
    font-size: 25px;
}
.navbar-collapse
{
    border:none;
}
.homenav ul li a
{
    color:#fff;
}
.center
{
    margin-bottom: 5px;
}
.tools
{
    margin-top: 8px;
}
.homenav>li>a:hover
{
    background-color: #800000;
}
.homenav>li>a:active
{
    background-color: #800000;
}
.homenav>ul>li>a:hover
{
    background-color: #800000;
}
.homenav>ul>li>a:active
{
    background-color: #800000;
}

.tolatables
{
    color: #4db3d0;
    
}
 
.tolaactivity
{
    color: #e89424;
    
}
.ona
{
    color: #d06a4d;  
}
.home-paneltitle
{
    background-color: #4db3d0;
}
.home-panel
{
    border: 1px solid#4db3d0;
}
.panel_bottom
{
    background-color: #FAFAFA;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
}
.home-bottom
{
    position: relative;
    margin-top: 10px;
    border:1px solid#eee;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;

}

.activity_details
{
    margin-top: 10px;
}

.form_register_btn
{
    margin-left: 16px;
    margin-top: 30px;
}
.form-field
{
    margin-bottom: 10px;
}
.icon
{
    height: 15px;
    width:15px;
}
.splash
{
    padding: 3px;
    padding-left: 10px;
}
/*//new blog for tickets*/
.ticket_cover
{
    position: relative;
    border:1px solid#eee;
    overflow: hidden;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.ticket_right
{
    border-right: 1px solid#eee;
    margin-bottom: 5px;
}
.ticket_issues
{
    background-color: #e89424;
    float: right;
    padding: 3px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}
.attach_files
{
    margin-left: 3px;
}

.issues_badge
{
    float: right;
}
.sorting_header
{
    border: 1px solid #eee;
}
.sort_panels
{
    border-bottom: 1px solid#eee;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

/*//search box*/
.search
{
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

/*//paginator for the tickets page*/
.ticket_paginator
{
    margin-right: 15px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/*// limiting numebr of words displayed in ticket description*/
.morecontent span {
    display: none;
}
.read_more
{
    float: right;
}
.morelink {
    display: block;
}

/*//tasks page*/
.center
{
    text-align: right;
}
.scores ul li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.modal-body
{
    position: absolute;
    overflow: hidden;
}
.modal_button
{
    margin-top: 10px;
}
.task_form
{
    background-color: #d6f5f5;
    position: relative;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
}
.task_title
{
    margin-left: 40px;
}
.tab-pane 
{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    padding: 5px;
}
.view_table
{
    margin-left: 15px;
}
.task_view
{
    background-color: #eee;
}
.task_edit
{
    position: relative;
    background-color: #fff;
    border:1px solid#eee;
    overflow: hidden;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;

}
.edit_note
{
    margin-left: 5px;
}
/*ticket edit form*/
.task_spacing
{
    margin-bottom: 20px;
}

.ticket_edit label {
    float: left;
    text-align: left;
}
.ticket_padding
{
    margin-bottom: 13px;
}
.multi_select
{
    width:352px;
}
.ticket_form
{
    background-color: #d6f5f5;
    position: relative;
    overflow: hidden;
    padding: 15px;
    border-radius: 5px;
}
.ticket_title
{
    margin-left: 15px;
}

.ticket_padding
{
    margin-left: 10px;
}
.ticket_form_cover
{
    position: relative;
    border:2px solid#fff;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;

}
.task_border
{ 
    position: relative;
    border:2px solid#fff;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
}
.addTask
{
    background-color: #e6e6ff;
    padding: 5PX;
}
.ticket_task
{
    background-color: #fff;
}
/*tickets filter section*/
.filter_form
{
    margin-top: 10px;
}
form .thumbnail
{
    margin-top: 8px;
    padding-top: 5px;

}
.thumbnail label
{
    float: left;
    margin-right: 7px;
}
.sorting_form
{
    position: relative;
    overflow: hidden;
}
.reverse_sort
{
    margin-top: 5px;
}
.sort_add
{
    margin-left:9px;
}
.sort_select
{
    margin-left:9px;
    width: 135px;
}
.owners_select
{
    width: 130px;
}
.status_select
{
    width: 125px;
}
.date_input
{
    width: 115px;
}
.date_to input
{
    margin-left: 19px;
}
.date_to 
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.keywords
{
    margin-bottom: 5px;
}
.keywords input
{
    width: 128px;
}
.types_select
{
    width: 155px;
}
.githubsync
{
    margin-bottom: 10px;
    margin-top: 10px;
}