{% extends "base.html" %}
{% load i18n %}
{% load saved_queries %}
{% block helpdesk %}
{% load static from staticfiles %}
{% with user|saved_queries as user_saved_queries_ %}

<link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css' />
<div id='container2'>
    <div id='header' class="row">
        <h1>{% block h1_title %}{% trans "TolaWork" %}{% endblock %}</h1>
        <p><strong>We recommend that you search for your ticket or request before you submit a new ticket. </strong><br/>Just check if a similar ticket has not been raised, and
if you have already done a search, ignore this message!</p>
        {% include "helpdesk/navigation.html" %}
    </div>

    <div id='body' class="row">
        {% block helpdesk_body %}{% endblock %}
    </div>
</div>
{% endwith %}
{% endblock %}