{% extends "base.html" %}
{% load i18n %}
{% load saved_queries %}
{% block helpdesk %}
{% load static from staticfiles %}
{% with user|saved_queries as user_saved_queries_ %}
<link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css' />
<div id='container2'>
    <div id='header' class="row">
        <h1>{% block h1_title %}{% trans "Helpdesk" %}{% endblock %}</h1>
        {% include "helpdesk/navigation.html" %}
    </div>

    <div id='body' class="row">
        {% block helpdesk_body %}{% endblock %}
    </div>
</div>
{% endwith %}
{% endblock %}