{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="container">
{% block h1_title %}{% endblock %}
    {% block helpdesk_body %}
    {% load in_list %}

    <div class="ticket_cover">

        <div class="col-md-9 col-sm-9 ticket_right">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h2>{% trans "New Ticket" %}</h2>
                    <p>{% trans "Unless otherwise stated, all fields are required." %} {% trans "Please provide as descriptive a title and description as possible." %}</p>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method='post' action='./' enctype='multipart/form-data'  name="most">

                        {% load crispy_forms_tags %}
                        {% crispy form form.helper %}
                        {% comment %}{% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <dt><label for='id_{{ field.name }}'>{% trans field.label %}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                                <dd>{{ field }}</dd>
                            {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
                            {% if field.help_text %}<dd class='form_help_text'>{% trans field.help_text %}</dd>{% endif %}

                        {% endif %}
                        {% endfor %}
                        {% endcomment %}

                    <div class = "col-md-offset-2 col-md-10">

                    <p id='ShowFileUploadPara'><a href='#' id='ShowFileUpload'><b>{% trans "Attach More File(s) &raquo;" %}</b></a></p>

                    <div id='FileUpload' style='display: none;'>

                        <dl>

                            <dt><label for='id_file'> <b>{% trans "Attach a File" %}</b></label></dt>
                            <dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'><b>{% trans "Add Another File" %}</b></a>)</span></dd>
                        </dl>
                    </div>
                    <div class='buttons form-group'>
                        <input type='submit' class="btn btn-primary" value='{% trans "Submit Ticket" %}' />
                </div>
            </div>
            {{ form.media }}

            {% csrf_token %}
                </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 ">
       <!-- start search -->
          <div class="search" >
            <form class="input-group" id='searchform' method='get' action="{% url 'helpdesk_list' %}">
                <input type="text" name='q' class="form-control" placeholder="Search" id='search_query'>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </form>
          </div>
          <!-- end search -->

          <!-- start filters -->
          <div class="panel panel-info ">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-user"></span>&nbsp;<strong>My Tickets <span class="badge">{{ num_tickets }}</span></strong>
              </div>
              <div class="panel-body">
                <div class="sort_panels">
                  <span class="glyphicon glyphicon-th-list"></span>&nbsp;Created By Me <strong> <span class="badge read_more"> {{ tickets_created }} </span></strong>
                </div>
                <div class="sort_panels">
                   <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Assigned to Me <strong> <span class="badge read_more"> {{ tickets_assigned }} </span></strong>
                </div>
                 <div class="sort_panels">
                  <span class="glyphicon glyphicon-th"></span>&nbsp;Closed by Me <strong> <span class="badge read_more"> {{ tickets_closed }} </span></strong>
                 </div>
              </div>
          </div>

        <div class="panel panel-info">
            <div class="panel-heading"> <strong>Sort Tickets</strong></div>

                <form method='get' action='./'>
                  <div class="panel-body ">
                    <select   class="btn btn-default dropdown-toggle" id='id_sort' name='sort'>
                      <option value='created'{% ifequal query_params.sorting "created"%} selected='selected'{% endifequal %}>
                          {% trans "Created" %}
                      </option>
                      <option value='title'{% ifequal query_params.sorting "title"%} selected='selected'{% endifequal %}>
                          {% trans "Title" %}
                      </option>
                      <option value='queue'{% ifequal query_params.sorting "queue"%} selected='selected'{% endifequal %}>
                          {% trans "Queue" %}
                      </option>
                      <option value='status'{% ifequal query_params.sorting "status"%} selected='selected'{% endifequal %}>
                          {% trans "Status" %}
                      </option>
                      <option value='priority'{% ifequal query_params.sorting "priority"%} selected='selected'{% endifequal %}>
                          {% trans "Priority" %}
                      </option>
                      <option value='assigned_to'{% ifequal query_params.sorting "assigned_to"%} selected='selected'{% endifequal %}>
                          {% trans "Owner" %}
                      </option>
                      <option value='assigned_to'{% ifequal query_params.sorting "type"%} selected='selected'{% endifequal %}>
                          {% trans "Type" %}
                      </option>
                      <option value='votes'{% ifequal query_params.sorting "votes"%} selected='selected'{% endifequal %}>
                          {% trans "Most Vote Up" %}
                      </option>
                    </select>
                      <div class="col-md-12 row reverse_sort">

                      <label for='id_sortreverse'>{% trans "Reverse: " %}</label>
                      <input type='checkbox' name='sortreverse' id='id_sortreverse'{% if query_params.sortreverse %} checked='checked'{% endif %} />
                      <p class='filterHelp'>{% trans "Ordering applied to tickets" %}</p>
                      </div>
                       <input class="btn btn-primary" type='submit' value='{% trans "Sort" %}' />
                    </div>
                </form>
        </div>


        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>{% trans "Filter Tickets" %}</strong>
            </div>

        <div class="panel-body" id="ko">
            <div class="row" id="ko1">
                <div class=" col-md-12">
                    <strong>Click</strong> on <strong>"+"</strong> to add filters to query on and  <strong>"-"</strong>  to remove a filter.
                </div>
            </div>
                <form class="filter_form">
                    <select name='select' id='filterBuilderSelect' class="btn btn-default col-md-8 dropdown-toggle">
                        <option value='Owner'>{% trans "Assigned to me" %}</option>
                        <option value='Created'>{% trans "Created by Me" %}</option>
                        <option value='Queue'>{% trans "Queue" %}</option>
                        <option value='Status'>{% trans "Status" %}</option>
                        <option value='Keywords'>{% trans "Keywords" %}</option>
                        <option value='Dates'>{% trans "Date Range" %}</option>
                        <option value='Type'>{% trans "Type" %}</option>
                    </select>
                    <input class="btn sort_add" type='button' id='filterBuilderButton' value='+' />
                  {% csrf_token %}
                </form>
                <form method='get' action='./'>
                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.assigned_to__id__in %} filterBoxShow{% endif %}' id='filterBoxOwner'>
                    <div class="keywords">
                        <label  for='id_owners'>{% trans "Owner(s): " %}</label>
                        <select id='id_owners' name='assigned_to' multiple='selected' rows="4" class="owners_select">
                            {% for u in user_choices %}
                            <option value='{{ u.id }}'{% if u.id|in_list:query_params.filtering.assigned_to__id__in %} selected='selected'{% endif %}>
                                {% trans "Assigned to Me" %}
                            </option>
                            {% endfor %}

                        </select>

                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-Click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>
                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.queue__id__in %} filterBoxShow{% endif %}' id='filterBoxCreated'>
                    <div class="keywords">
                        <label for='id_owners'>{% trans "Created by Me: " %}</label>
                        <select id='id_owners1' name='submitter_email' multiple='selected' rows="4" class="owners_select">
                            {% for u in user_choices %}
                            <option value='{{ u.email }}'{% if u.email|in_list:query_params.filtering.submitter_email__in %} selected='selected'{% endif %}>
                                {%trans "Created By Me"%}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.queue__id__in %} filterBoxShow{% endif %}' id='filterBoxQueue'>
                    <div class="keywords">
                        <label for='id_queues'>{% trans "Queue(s): " %}</label>
                        <select id='id_queues' name='queue' multiple='selected' rows="4" class="owners_select">
                            {% for q in queue_choices %}
                            <option value='{{ q.id }}'{% if q.id|in_list:query_params.filtering.queue__id__in %} selected='selected'{% endif %}>
                                {{ q.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.status__in %} filterBoxShow{% endif %}' id='filterBoxStatus'>
                  <div class="keywords">
                      <label for='id_statuses'>{% trans "Status(es): " %}</label>
                      <select id='id_statuses' name='status' multiple='selected' rows="4" class="status_select" >{% for s in status_choices %}
                          <option value='{{ s.0 }}'{% if s.0|in_list:query_params.filtering.status__in %} selected='selected'{% endif %}>{{ s.1 }}</option>{% endfor %}
                      </select>
                  </div>
                  <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                  <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.created__gte or query_params.filtering.created__lte %} filterBoxShow{% endif %}' id='filterBoxDates'>
                    <label for='id_date_from'>{% trans "Date (From): " %}</label>
                    <input class="date_input" type='text' name='date_from' value='{{ query_params.filtering.created__gte }}' id='id_date_from' />
                    <div class="date_to">

                      <label for='id_date_to'>{% trans "Date (To): " %}</label>
                      <input  class="date_input" type='text' name='date_to' value='{{ query_params.filtering.created__lte }}' id='id_date_to' />
                    </div>
                    <p class='filterHelp'>{% trans "Use YYYY-MM-DD date format, eg 2011-05-29" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail  sorting_form filterBox{% if query %} filterBoxShow{% endif %}' id='filterBoxKeywords'>
                    <div class="keywords">
                        <label for='id_query'>{% trans "Keywords: " %}</label>
                        <input class="status_select" type='text' name='q' value='{{ query }}' id='id_query' />
                    </div>
                    <p class='filterHelp'>{% trans "Keywords are case-insensitive, and will be looked for in the title, body and submitter fields." %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail  sorting_form filterBox{% if query_params.filtering.status__in %} filterBoxShow{% endif %}' id='filterBoxType'>
                    <div class="keywords">
                        <label for='id_types'>{% trans "Types: " %}</label>
                        <select id='id_types' name='types' multiple='selected' rows="4" class="types_select">{% for s in type_choices %}<option value='{{ s.0 }}'{% if s.0|in_list:query_params.filtering.type__in %} selected='selected'{% endif %}>{{ s.1 }}</option>{% endfor %}</select>
                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <hr style='clear: both;' />
                  <input class="btn btn-primary" type='submit' value='{% trans "Apply Filter" %}' />
                  {% if from_saved_query and saved_query.user == user %}
                  <p>{% blocktrans with saved_query.title as query_name %}You are currently viewing saved query <strong>"{{ query_name }}"</strong>.{% endblocktrans %} <a href='{% url 'helpdesk_delete_query' saved_query.id %}'>{% trans "Delete Saved Query" %}</a></p>
                  {% endif %}
                  {% if from_saved_query %}
                  <p>{% blocktrans with saved_query.id as query_id %}<a href='../reports/?saved_query={{ query_id }}'>Run a report</a> on this query to see stats and charts for the data listed below.{% endblocktrans %}</p>
                  {% endif %}
                  {% csrf_token %}
                </form>
            </div>
        </div>
    </div>


    </div>
</div>
<script>
    $(document).ready(function() {
        $("#ShowFurtherEditOptions").click(function() {
            $("#FurtherEditOptions").fadeIn();
            $("#ShowFurtherOptPara").show();
            return false;
        });

        $("#id_tags").select2({
                tags: true,
                allowClear: true,
        });

        processAddFileClick();
        $("#ShowFileUpload").click(function() {
            $("#FileUpload").fadeIn();
            $("#ShowFileUploadPara").show();
            return false;
        });

        $('#id_preset').change(function() {
            preset = $('#id_preset').val();
            if (preset != '') {
                $.get("{% url 'helpdesk_raw' "preset" %}?id=" + preset, function(data) {
                    $("#commentBox").val(data)
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            $(this).parent().remove();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

    }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js">
</script>

<script type="text/javascript" 
src="{{ STATIC_URL }}js/chosen.jquery.min.js">
</script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" 
type="text/css" media="screen" />

<script type="text/javascript">  
    $(".chosen").chosen();

</script>

{% endblock %}
