{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}

<h2>{% trans "Submit a Ticket" %}</h2>
<p>{% trans "Unless otherwise stated, all fields are required." %} {% trans "Please provide as descriptive a title and description as possible." %}</p>

<form class="form-horizontal" method='post' action='./' enctype='multipart/form-data'  name="most">

        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
        {% comment %}{% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <dt><label for='id_{{ field.name }}'>{% trans field.label %}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                <dd>{{ field }}</dd>
                {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
                {% if field.help_text %}<dd class='form_help_text'>{% trans field.help_text %}</dd>{% endif %}

            {% endif %}
        {% endfor %}
        {% endcomment %}

<div class = "col-md-offset-2 col-md-10">

    <p id='ShowFileUploadPara'><a href='#' id='ShowFileUpload'><b>{% trans "Attach More File(s) &raquo;" %}</b></a></p>

    <div id='FileUpload' style='display: none;'>

        <dl>

            <dt><label for='id_file'> <b>{% trans "Attach a File" %}</b></label></dt>
            <dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'><b>{% trans "Add Another File" %}</b></a>)</span></dd>
        </dl>

    </div>
        <div class='buttons form-group'>
            <input type='submit' class="btn btn-primary" value='{% trans "Submit Ticket" %}' />
    </div>
</div> 
{{ form.media }}

{% csrf_token %}</form>

<script>
    $(document).ready(function() {
        $("#ShowFurtherEditOptions").click(function() {
            $("#FurtherEditOptions").fadeIn();
            $("#ShowFurtherOptPara").show();
            return false;
        });

        $("#id_tags").select2({
                tags: true,
                allowClear: true,
        });

        processAddFileClick();
        $("#ShowFileUpload").click(function() {
            $("#FileUpload").fadeIn();
            $("#ShowFileUploadPara").show();
            return false;
        });

        $('#id_preset').change(function() {
            preset = $('#id_preset').val();
            if (preset != '') {
                $.get("{% url 'helpdesk_raw' "preset" %}?id=" + preset, function(data) {
                    $("#commentBox").val(data)
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            $(this).parent().remove();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

    }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js">
</script>

<script type="text/javascript" 
src="{{ STATIC_URL }}js/chosen.jquery.min.js">
</script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" 
type="text/css" media="screen" />

<script type="text/javascript">  
    $(".chosen").chosen();

</script>

{% endblock %}
