{% extends "base.html" %}
{% load i18n %}
{% load saved_queries %}
{% block helpdesk %}
{% load static from staticfiles %}
{% with user|saved_queries as user_saved_queries_ %}
<head>
	<link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css' />
	<link href="{{ STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://use.typekit.net/shi4wqr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<div id='container2'>
    	<div id='header' class="row">
	        <h1>{% block h1_title %}{% trans "TolaWork" %}{% endblock %}</h1>
    		<form class="navbar-form navbar-left" id='searchform' method='get' action="{% url 'helpdesk_kb_index' %}">
	        <div class="input-group">
	            <input type='text' name='q' size='15' class='input form-control' placeholder='{% trans "Search..." %}' id='search_query' title='{% trans "Enter a keyword, or a ticket number to jump straight to that ticket." %}'/>
	            {% csrf_token %}
	            <span class="input-group-btn">
	            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Go</button>
	            </span>
	        </div>
    		</form>
    	</div>

    <div id='body' class="row">
        {% block helpdesk_body %}{% endblock %}
    </div>
</div>
{% endwith %}
{% endblock %}