{% extends "helpdesk/kb_base.html" %}{% load i18n %}

{% block helpdesk_body %}
<br>
<p><a href='{% url 'helpdesk_kb_index' %}'> Knowledgebase</a>>><a href='{{ item.category.get_absolute_url }}'>{{ item.category.title }}</a>>><strong> {{ item.title }}</strong></p><br>
<table class="table table-hover table-bordered table-striped">
	<caption>{{ item.title }}</caption>
	<tbody>
		<tr>
			<td><strong>Category</strong></td>
			<td>{{ item.category.title }}</td>
		</tr>
		<tr>
			<td><strong>Title</strong></td>
			<td>{{ item.title }}</td>
		</tr>
		<tr>
			<td><strong>Question</strong></td>
			<td>{{ item.question | safe | urlize }}</td>
		</tr>
		<tr>
			<td><strong>Answer</strong></td>
			<td>{{ item.answer | safe | urlize }}</td>
		</tr>
		<tr>
			<td><strong>Recommendations</strong></td>
			<td>{{ item.recommendations }}</td>
		</tr>
		<tr>
			<td><strong>Last Updated</strong></td>
			<td><span title='{{ ticket.created|date:"r" }}'>{{ item.last_updated }}</td>
		</tr>
	</tbody>
</table>

<!-- Remove 'Feedback/voting' text from KB articles-->

{% endblock %}
