{% extends "helpdesk/kb_base.html" %}{% load i18n %}
{% block helpdesk_head %}
<style type="text/css" src='{{ STATIC_URL }}helpdesk/app.css'></style>>

{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "Knowledgebase" %}</h2>
<div class="col-md-12 row">
    <div class="col-md-8">
    <p>{% trans "We have listed a number of knowledgebase articles for your perusal in the following categories. Please check to see if any of these articles address your problem prior to opening a support ticket." %}</p>
    </div>
</div>

<div class="col-md-12 row"> 
    <div class="col-md-8 collapselist knowledge_panel">
    <h4><strong> Knowledgebase Categories</strong></h4>
    {% for supercategory in superkbcategories%}
      <div class="panel-group ">
        <div class="panel knowledge_main">
          <div class="panel-heading knowledge_head">
            <h4 class="panel-title">
              <a data-toggle="collapse" href='#{{supercategory.id}}' ><span class="glyphicon glyphicon-plus-sign"> <font class="font5">{{supercategory.title}}</font></span></a>
            </h4>
          </div>
          <div id='{{supercategory.id}}' class="panel-collapse collapse">
            <div class="panel-body table-responsive">
            <table class="table table-striped"> 
                <tr> 
                    <th>Category</th>
                    <th> Description</th>
                </tr>
                {% for category in supercategory.kbcategory_set.all  %}
                    <tr> 
                        <td> {{ category.title }}</td>
                        <td><a>{{ category.description }}</a> </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>

<h2> Knowledgebase Items</h2>

{% for item in data %}
<p> This is the data am waiting for: {{ item.tittle }}</p>
{% endfor %}
<div class="col-md-12 row">
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{% trans "Id" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Answer" %}</th>
                <th>{% trans "Votes" %}</th>
                <th>{% trans "Recommendations" %}</th>
                <th>{% trans "Last Updated" %}</th>
                <th>{% trans "Category" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in kb_items %}
            <tr class="{{ items.get_priority_css_class }}">
                <td><input type='radio' name='ticket_id' value='{{ item.id }}'  /></td>
                <td>{{ item.id }}</td>
                <td><a href='{{ item.get_absolute_url }}'>{{ item.title }}</a></td>
                <td>{{ item.question }}</td>
                <td>{{ item.answer | urlize}}</a></td>
                <td>{{ item.votes }}</td>
                <td>{{ item.recommendations }}</td>
                <td><span title='{{ ticket.created|date:"r" }}'>{{ item.last_updated }}</span></td>
                <td>{{ item.category.title }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan='9'>{% trans "No Articles/Items Match Your Search" %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
            {% if kb_items.has_previous %}
                <a href="?{% if query_string %}{{ query_string }}&amp;{% endif %}page={{ kb_items.previous_page_number }}">{% trans "Previous" %}</a>
            {% endif %}
                <span class="current">
                    {% blocktrans with kb_items.number as kb_item_num and kb_items.paginator.num_pages as num_pages %}Page {{ kb_item_num }} of {{ num_pages }}.{% endblocktrans %}
                </span>
            {% if kb_items.has_next %}
                <a href="?{% if query_string %}{{ query_string }}&amp;{% endif %}page={{ kb_items.next_page_number }}">{% trans "Next" %}</a>
            {% endif %}
            </span>
        </div>
</div>
</div>


<script type="text/javascript">
$('#menu > a').click(function(){
    $(this).next().next().slideToggle();
    return false;
});
</script>

{% endblock %}
