<!-- the collapse section for view more details -->
            <br>
            <br>
              <div class="ticket_view tab-pane">
                <h5 class="view_table"><strong>Other Details</strong></h5>
                <!-- the table with the ticket details -->
                <div class="col-md-12 row table-responsive">
                    <table class="table table-striped table-condensed view_table">
                      <tr>
                        <td><p><strong>Submitter Email: </strong></p></td>
                        <td><p>{{ ticket.submitter_email }}</p></td>
                        <td><p><strong>Submitted on: </strong></p></td>
                        <td><p>{{ ticket.created | date}}, {{ ticket.created | time}} </p></td>
                      </tr>
                      <tr>
                        <td><p><strong>Assigned to: </strong></p></td>
                        <td><p> {{ ticket.assigned_to}}</p>
                        {% ifequal ticket.get_assigned_to _('Unassigned') %} 
                          <strong><a href='?take'><span class='button button_take'> Take </span></a></strong>
                        {% endifequal %}
                        </td>
                        <td><p><strong>Ticket CC:</strong></p></td>
                        <td><p>{{ ticketcc_string }} <a data-toggle='tooltip' href='{% url 'helpdesk_ticket_cc' ticket.id %}' title='Click here to add / remove people who should receive an e-mail whenever this ticket is updated. '><strong> Manage </strong></a>{% if SHOW_SUBSCRIBE %}, <strong><a data-toggle='tooltip' href='?subscribe' title='Click here to subscribe yourself to this ticket, if you want to receive an e-mail whenever this ticket is updated. '> Subscribe </a></strong>{% endif %}</p></td>
                      </tr>
                      <tr>
                        <td><p><strong>Priority: </strong></p></td>
                        <td><p>{{ ticket.get_priority_display }}</p></td>
                        <td><p><strong>Type: </strong></p></td>
                        <td><p>{{ ticket.get_type_display }}</p></td>
                      </tr>
                    </table>
                  </div><!-- end the ticket details table -->
                </div> 

                <!-- the dependencies section -->
                <div>
                  <h5><strong>Dependencies:</strong></h5>
                  <div class="row">
                  {% for dep in ticket.ticketdependency.all %}
                    <div class="col-md-8">
                      {% if forloop.first %}
                      <p>This ticket cannot be resolved until the following ticket(s) it depends on are resolved
                      </p>
                      <ul>
                      {% endif %}
                        <li>
                            <a href='{{ dep.depends_on.get_absolute_url }}'>{{ dep.depends_on.ticket }} {{ dep.depends_on.title }}</a>
                            ({{ dep.depends_on.get_status_display }})
                            <a href='{% url 'helpdesk_ticket_dependency_del' ticket.id dep.id %}'>Remove Dependency" </a>
                        </li>
                        {% if forloop.last %}
                      </ul>
                        {% endif %}
                    </div>
                    {% empty %}
                    <div class="col-md-4">
                      <p>
                        <form class="navbar-form navbar-left" id='searchform' method='get' action='{% url 'helpdesk_ticket_dependency_add' ticket.id %}'>
                          <div class="input-group">
                            <input type='text' name='q' size='15' class='input form-control' placeholder='Search...' id='search_query' title='If you want to make this ticket dependent on another ticket, search and add a depend ticket.'/>
                            <input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' />
                            <input type='hidden' name='search_type' value='header' />
                            {% csrf_token %}
                            <span class="input-group-btn">
                              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Go </button>
                            </span>
                          </div>
                        </form>
                      </p>
                    </div>
                  {% endfor %}
                  </div>
                </div>
                <!-- end dependencies section -->

                <!-- follow-up section -->
                <div>
                  {% if ticket.followup_set.all %}
                  <h3>Follow-Ups</h3>
                  {% load ticket_to_link %}
                  {% for followup in ticket.followup_set.all %}
                  {% if helpdesk_settings.HELPDESK_FOLLOWUP_MOD %}
                    <div class='followup_mod'>
                      <div class='title'>
                        <span class='byline text-info'>
                          {{ followup.user.get_full_name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ followup.date }} ({{ followup.date }})</span>
                        <small>{{ followup.title }}</small>
                        {% if not followup.public %}
                        <span class='private'>(Private)</span>
                        {% endif %}
                        {% if helpdesk_settings.HELPDESK_SHOW_EDIT_BUTTON_FOLLOW_UP %}
                        {% if followup.user and request.user == followup.user and not followup.ticketchange_set.all %}
                        <a href="{% url 'helpdesk_followup_edit' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Edit" alt="Edit" src="{{ STATIC_URL }}helpdesk/buttons/edit.png"></a>
                        {% endif %}
                        {% endif %}
                        {% if user.is_superuser and helpdesk_settings.HELPDESK_SHOW_DELETE_BUTTON_SUPERUSER_FOLLOW_UP %}
                        <a href="{% url 'helpdesk_followup_delete' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Delete" alt="Delete" src="{{ STATIC_URL }}helpdesk/buttons/delete.png"></a>
                        {% endif %}
                      </div>
                  {% else %}
                    <div class='followup well'>
                      <div class='title'>
                        {{ followup.title }}
                        <span class='byline text-info'>{% if followup.user %}by {{ followup.user }}{% endif %}<span title='{{ followup.date|date:"r" }}'>{{ followup.date }}</span>
                            {% if not followup.public %} <span class='private'>(Private)</span>{% endif %}</span>
                        {% if helpdesk_settings.HELPDESK_SHOW_EDIT_BUTTON_FOLLOW_UP %}
                        {% if followup.user and request.user == followup.user and not followup.ticketchange_set.all %}
                        <a href="{% url 'helpdesk_followup_edit' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Edit" alt="Edit" src="{{ STATIC_URL }}helpdesk/buttons/edit.png"></a>
                        {% endif %}
                        {% endif %}
                        {% if user.is_superuser and helpdesk_settings.HELPDESK_SHOW_DELETE_BUTTON_SUPERUSER_FOLLOW_UP %}
                        <a href="{% url 'helpdesk_followup_delete' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Delete" alt="Delete" src="{{ STATIC_URL }}helpdesk/buttons/delete.png"></a>
                        {% endif %}
                      </div>
                  {% endif %}

                  <!-- display ticket comments from 'follow.comment' column -->
                  <span class='followup-desc'>
                    {% if followup.comment %}
                      {{ followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr }}
                    {% endif %}
                  </span>

                  {% for change in followup.ticketchange_set.all %}
                    {% if forloop.first %}
                      <div class='changes'>
                        <ul>
                        {% endif %}
                        <li>{% with change.field as field and change.old_value as old_value and change.new_value as new_value %}Changed {{ field }} from {{ old_value }} to {{ new_value }}.{% endwith %}</li>
                    {% if forloop.last %}
                      </ul>
                    </div>
                    {% endif %}
                  {% endfor %}

                  {% for attachment in followup.attachment_set.all %}
                    {% if forloop.first %}
                      <div class='attachments'>
                        <ul>{% endif %}
                          <li><a href='{{ attachment.file.url }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})
                          {% if followup.user and request.user == followup.user %}
                          <a href='{% url 'helpdesk_attachment_del' ticket.id attachment.id %}'>delete</a>
                          {% endif %}
                          </li>
                          {% if forloop.last %}
                        </ul>
                      </div>
                    {% endif %}
                  {% endfor %}
                  </div>
                {% endfor %}
                {% endif %}
                {% if helpdesk_settings.HELPDESK_TRANSLATE_TICKET_COMMENTS %}
                </div>
                {% endif %}
                </div>
                <!-- end follow-up section -->

                <!-- respond to ticket and status section -->
                <div id='add-followup' class="well">
                  <form method='post' id="ticket_new_status{{ticket.id}}"  enctype='multipart/form-data' class="form-horizontal">
                    <fieldset>
                      <dl>
                        {% if preset_replies %}
                        <dt><label for='id_preset'>Use a Pre-set Reply</label> <span class='form_optional'>(Optional)</span></dt>
                        <dd><select name='preset' id='id_preset'><option value=''>------</option>{% for preset in preset_replies %}<option value='{{ preset.id }}'>{{ preset.name }}</option>{% endfor %}</select></dd>
                        <dd class='form_help_text'>Selecting a pre-set reply will over-write your comment below. You can then modify the pre-set reply to your liking before saving this update.</dd>
                        {% endif %}

                        <dt>
                          <label for='commentBox'>Comment</label>
                        </dt>
                        <dd>
                          <textarea class="form-control preview_links" rows="3" name='comment' id='commentBox{{ticket.id}}' style="width:550px"></textarea>
                        </dd>

                        <!-- ticket status -->
                        <dt><label>Status</label></dt>
                          {% if not ticket.can_be_resolved %}

                        <dd>This ticket cannot be resolved or closed until the tickets it depends on are resolved./dd>{% endif %}

                        {% if ticket.status == 1 %}
                          <dd>
                            <input type='radio'  name='new_status{{ticket.id}}' value='1' id='st_open' checked='checked'><label for='st_open' class='active'> &nbsp;Open</label> &raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='3' id='st_resolved' {% if new_status == '3'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='status'>&nbsp;Resolved</label> &raquo;&nbsp;&nbsp;
                            <input type='radio'  name='new_status{{ticket.id}}' value='4' id='st_closed'{% if new_status == '4'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_closed'>&nbsp;Closed</label> &raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='5' id='st_duplicate'{% if new_status == '5'%}checked='checked'{% endif%}><label for='st_duplicate'>&nbsp;Duplicate</label>&raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='6' id='st_progress'><label for='st_progress'>In Progress</label>
                          </dd>
                        {% endif %}

                        {% if ticket.status == 2 %}
                          <dd>
                            <input type='radio' name='new_status{{ticket.id}}' value='2' id='st_reopened' checked='checked'><label for='st_reopened' class='active'>&nbsp;Reopened</label> &raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='3' id='st_resolved'{% if new_status == '3'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_resolved'>&nbsp;Resolved</label> &raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='4' id="st_closed" {% if new_status == '4'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_closed'>&nbsp;Closed</label> &raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='5' id='st_duplicate'{% if new_status == '5'%}checked="checked"{% endif%}><label for='st_duplicate'>&nbsp;Duplicate</label>&raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='6' id='st_progress'><label for='st_progress'>In Progress</label>
                          </dd>
                        {% endif %}

                        {% if ticket.status == 3 %}
                          <dd>
                            <input type='radio' name='new_status{{ticket.id}}' value='2' id='st_reopened'{% if new_status == '2'%}checked='checked'{% endif%}><label for='st_reopened'>&nbsp;Reopened</label> &laquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='3' id='st_resolved' checked='checked'><label for='st_resolved' class='active'>&nbsp; Resolved </label> &raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='6' id='st_progress' checked='checked'><label for='st_progress'>In Progress</label>&raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='4' id='st_closed'{% if new_status == '4'%}checked='checked'{% endif%}><label for='st_closed'>&nbsp;Closed</label>
                          </dd>
                        {% endif %}

                        {% if ticket.status == 4 %}
                          <dd>
                            <input type='radio' name='new_status{{ticket.id}}' value='2' id='st_reopened'{% if new_status == '2'%}checked='checked'{% endif%}><label for='st_reopened'>&nbsp;Reopened</label> &laquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='4' id='st_closed' checked='checked'><label for='st_closed'>&nbsp;Closed</label>
                          </dd>
                        {% endif %}

                        {% if ticket.status == 5 %}
                          <dd>
                            <input type='radio' name='new_status{{ticket.id}}' value='2' id='st_reopened'{% if new_status == '2'%}checked='checked'{% endif%}><label for='st_reopened'>&nbsp;Reopened</label> &laquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='5' id='st_duplicate' checked='checked'><label for='st_duplicate'>Duplicate</label>&laquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='6' id='st_progress' checked='checked'><label for='st_progress'>In Progress</label>
                          </dd>
                        {% endif %}
                        {% if ticket.status == 6 %}
                          <dd>
                            <input type='radio' name='new_status{{ticket.id}}' value='6' id='st_progress' checked='checked'><label for='st_progress'>In Progress</label>&raquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='4' id='st_closed'{% if new_status == '4'%}{% endif%}><label for='st_closed'>&nbsp; Closed</label>
                          </dd>
                        {% endif %}

                        {% if ticket.status == 7 %}
                          <dd>
                            <input type='radio' name='new_status{{ticket.id}}' value='2' id='st_reopened'{% if new_status == '2'%}checked='checked'{% endif%}><label for='st_reopened'>&nbsp;Reopened</label> &laquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='3' id='st_resolved'><label for='st_resolved' class='active'>&nbsp;Resolved</label>&laquo;&nbsp;&nbsp;
                            <input type='radio' name='new_status{{ticket.id}}' value='4' id='st_closed'{% if new_status == '4'%}{% endif%}><label for='st_closed'>&nbsp;Closed</label>
                          </dd>
                        {% endif %}

                        {% if helpdesk_settings.HELPDESK_UPDATE_PUBLIC_DEFAULT %}
                          <input type='hidden' name='public' id= "id_public{{ticket.id}}" value='1'>
                          {% else %}
                          <dt><label for='id_public'>Is this update public? </label> <span class='form_optional'> (Optional)</span></dt>
                          <dd><input type='checkbox' name='public' id= "id_public{{ticket.id}}" value='1' checked='checked' /></dd>
                          <dd class='form_help_text'>Email status updates and comments to submitter</dd>
                        {% endif %}
                      </dl>
                      
                    </fieldset>
                    <div class="row">
                      <div class="col-md-9">
                        <input class="btn btn-primary" type='submit' value='Update This Ticket' />
                        {% if not ticket.github_issue_url %}
                        {% if user.is_superuser %}
                        <input name="github" type='button ' class="btn btn-info" id="before_github_send" value='Send to Github' onClick="send_to_github({{ticket.id}})"/>
                        {% endif %}
                        <input name="view_github" type='button ' class="btn btn-info hidden" id="after_github_send" value='View Ticket in Github' onclick="window.open('{{ ticket.github_issue_url }}', '_blank');"/>
                        {% else %}

                        <input name="view_github" type='button ' class="btn btn-info" value='View Ticket in Github' onclick="window.open('{{ ticket.github_issue_url }}', '_blank');"/>
                        {% endif %}

                        {% if ticket.slack_status == 0 %}
                        <a href='{% url "post_to_slack" ticket.id %}'><img alt="Add to Slack" height="40" width="139" src="{{ STATIC_URL }}/img/add_to_slack.png"></a>
                        {% else %}
                        <a href="https://tola-users.slack.com/archives/tola-work"><img alt="Posted to Slack" height="60" width="140" src="{{ STATIC_URL }}/img/slack.png" /></a>
                        {% endif %}
                      </div>
                        {% csrf_token %}

                  </form>
                   <script>
                    $('#ticket_new_status{{ticket.id}}').on('submit', function(event){
                        event.preventDefault();
                        var csrftoken = $("#ticket_new_status{{ticket.id}}").find('input[name="csrfmiddlewaretoken"]').val();
                        edit_ticket_status({{ticket.id}}, csrftoken);
                    });
                   
                    </script>

                  <!-- ticket on-hold and delete section -->
                  <div class="col-md-2 col-md-offset-1">
                    {% if user.is_superuser %}
                      <a href='#' data-toggle="modal" data-target="#deleteModal{{ticket.id}}" class="ticket-delete"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                      <span>
                      {% if ticket.on_hold %}
                        | <a href='{% url "helpdesk_unhold" ticket.id %}' class="ticket-hold"> Unhold</a>
                      {% else %}
                        |<a href='{% url "helpdesk_hold" ticket.id %}' class="ticket-hold"> Hold</a>
                      {% endif %}</span>
                    {% endif %}
                    <!-- delete ticket modal -->
                    <div id="deleteModal{{ticket.id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title font9">Delete Ticket</h3>
                          </div>
                          <div class="modal-body">
                            <p>{% with ticket.title as ticket_title %}Are you sure you want to delete this ticket (<em>{{ ticket_title }}</em>)?</p><p> All traces of the ticket, including followups, attachments, and updates will be irreversibly removed.{% endwith %}</p>

                            <p><a href='../'>No, Don't Delete It</a></p>

                            <form method='post' action='/helpdesk/tickets/{{ticket.id}}/delete/'>
                              <input class="btn btn-primary" type='submit' value='Yes - Delete It' />{% csrf_token %}
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div><!-- end delete ticket modal -->
                  </div> <!-- end ticket hold and delete section -->
              <!-- end respond to ticket and status section -->