{% extends "helpdesk/dashboard.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Report Dashboard" %}{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "Report Dashboard" %}</h2>

{% ifequal number_tickets 0 %}
<p>{% trans "You haven't created any tickets yet, so you cannot run any reports." %}</p>
{% else %}
<table class="table table-hover table-bordered table-striped">
    <caption>{% trans "&nbsp;Open Tickets beyond 3 Months" %}</caption>

    <thead>
        <tr>
            <th>#</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Owner" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for ticket in tickets_3_months.reverse %}
        <tr class="{{ ticket.get_priority_css_class }}">
            <th>{{ ticket.ticket|upper }}</th>
            <th><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></th>
            <td>{{ ticket.get_status }}</td>
            <td><span title='{{ ticket.created|date:"r" }}'>{{ ticket.created }}</span></td>
            <td>{{ ticket.get_assigned_to }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='8'>{% trans "No Tickets Match Your Selection" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li>{% trans "Reports By User" %}
        <ul>
            <li><a href='userpriority/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "by Priority" %}</a></li>
            <li><a href='userqueue/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "by Queue" %}</a></li>
            <li><a href='userstatus/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "by Status" %}</a></li>
            <li><a href='usermonth/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "by Month" %}</a></li>
        </ul>
    </li>
    <li>{% trans "Reports By Queue" %}
        <ul>
    
            <li><a href='queuepriority/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "by Priority" %}</a></li>
            <li><a href='queuestatus/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "by Status" %}</a></li>
            <li><a href='queuemonth/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "by Month" %}</a></li>
            <li><a href='daysuntilticketclosedbymonth/{% if saved_query %}?saved_query={{ saved_query }}{% endif %}'>{% trans "Days until ticket closed by Month" %}</a></li>
        </ul>
    </li>

</ul>

{% endifequal %}{% endblock %}
