{% extends "base.html" %}
{% load i18n %}
{% block helpdesk %}
    {% block helpdesk_body %}
        {% blocktrans %}
            <h3>Add Ticket Dependency</h3>
            <p>Search for the ticket that must be resolved first (Depends On) before this ticket is resolved. </p>
        {% endblocktrans %}

        <form method='post' action='./'>
        <fieldset>
            <dl>
                {% for field in form %}
                    <dt><label for='id_{{ field.name }}'>{{ field.label }}</label></dt>
                    <dd>{{ field }}</dd>
                    {% if field.errors %}
                        <dd class='error'>{{ field.errors }}</dd>
                    {% endif %}
                    {% if field.help_text %}
                        <dd class='form_help_text'>{{ field.help_text }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        </fieldset>
        <input class="btn btn-primary" type='submit' value='{% trans "Save Ticket Dependency" %}' />
        {% csrf_token %}
        </form>

    {% endblock %}

{% endblock %}
