{% extends "base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Tickets" %}{% endblock %}
{% block helpdesk_head %}
<style type="text/css" src='{{ STATIC_URL }}helpdesk/app.css'></style>

{% endblock %}
  
{% block content %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<div class="container">

<!-- main div -->
  <div class="home_cover">
        <div class="col-md-9 col-sm-9 ">
            <h2> Available Tickets</h2>
            {% for ticket in tickets.object_list %}
              <div class="panel panel-info">
                <div class="panel-heading"> <strong class="font8"> {{ ticket.title }} </strong> <br>
                Reported on {{ ticket.created | date}}, {{ ticket.created | time}} by {{ ticket.submitter_email }}  </div>
                <div class="panel-body"> 
                {{ ticket.description }}
                </div>
                <div class="panel-footer"><b><span class="glyphicon glyphicon-tags"></span></b> <strong> Tags</strong></div>
              </div>
            {% endfor %}
        </div>
        <div class="col-md-3 col-sm-3 ticket_right">
          <div class="search" >
            <div id="tfheader">
              <form id="tfnewsearch" method="#" action="#">
                      <input type="text" class="tftextinput" name="search" placeholder="Search" size="28" maxlength="51"><button type="button" class="tfbutton"><span class="glyphicon glyphicon-search"></span> </button>
              </form>
            </div>
          </div>
          <div>
            <div class="panel panel-info ">
              <div class="panel-heading"> 
                <strong>Issues</strong> 
                <a href="/helpdesk/tickets/submit">
                  <div class="ticket_issues"> 
                    <span class="glyphicon glyphicon-plus"></span>New Issue
                  </div>
                </a>
              </div>
              <div class="panel-body"> 
              My Issues 
              </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"> <strong>Sort By</strong></div>
                <div class="panel-body sort_panels">
                Most Up Votes 
                </div>
                <div class="panel-body">
                Clear Filter and Sort 
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading"> <strong>Issues By Year/Month</strong></div>
                <div class="panel-body sort_panels">
                <b><span class="glyphicon glyphicon-plus"></span></b>2016 
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading"> <strong>Filter Issues By Type</strong></div>
                <div class="panel-body sort_panels">
                Feature Request
                </div>
                <div class="panel-body">
                Suggestion
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading"> <strong>Filter Issues By Status</strong></div>
                <div class="panel-body sort_panels">
                Feature Request
                </div>
                <div class="panel-body">
                Suggestion
                </div>
              </div>
          </div>
          
        </div>
  </div>
</div>



{% endblock content %}