{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "View Ticket Details" %}{% endblock %}
{% block helpdesk_head %}{% endblock %}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<div class="container">
{% block h1_title %}{{ ticket.ticket_for_url|upper }}{% endblock %}
{% block helpdesk_body %}
{% load in_list %}

<div class="ticket_cover">
    <div class="col-md-9 col-sm-9 ticket_right">
        <div class="panel panel-info">
                <div class="panel-heading">
                      {{ ticket.ticket | upper}} <strong class="font8"> {{ ticket.title }} </strong>
                      {% if ticket.progress %}
                      <div class="read_more">
                        <strong> <span class="badge">{{ticket.progress}} </span></strong>
                      </div>
                      {% endif %}
                      <br>
                    <strong>Submitted on:&nbsp;</strong> {{ ticket.created | date}}, {{ ticket.created | time}} by [{{ ticket.submitter_email }}]
                    <strong>Assigned To:&nbsp;</strong>
                    [{{ ticket.get_assigned_to }}]
                    {% ifequal ticket.get_assigned_to _('Unassigned') %} <strong><a href='?take'><span class='button button_take'>{% trans "Take" %}</span></a></strong>
                    {% endifequal %}
                    <strong>Ticket CC:&nbsp;</strong>
                    {{ ticketcc_string }} <a data-toggle='tooltip' href='{% url 'helpdesk_ticket_cc' ticket.id %}' title='{% trans "Click here to add / remove people who should receive an e-mail whenever this ticket is updated." %}'><strong>{% trans "Manage" %}</strong></a>{% if SHOW_SUBSCRIBE %}, <strong><a data-toggle='tooltip' href='?subscribe' title='{% trans "Click here to subscribe yourself to this ticket, if you want to receive an e-mail whenever this ticket is updated." %}'>{% trans "Subscribe" %}</a></strong>{% endif %}
                    <br/>
                    <strong>Priority:&nbsp;</strong>[{{ ticket.get_priority_display }}]&nbsp;<strong>Type:&nbsp;</strong>{{ ticket.get_type_display }}&nbsp;&nbsp;<strong>Developer(s) Progress:</strong>&nbsp;
                            <span class="label label-info">{% if ticket.git_label == 0 %}In {% blocktrans with ticket.queue as queue %}&nbsp;{{ queue }}{% endblocktrans %}&nbsp;Backlog{% elif ticket.git_label == 1 %}Accepted and moved into the Ready Queue{% elif ticket.git_label == 2 %}Developers have started working on the Ticket{% elif ticket.git_label == 4 %}Done{% endif%}</span>

                </div>
                <div class="panel-body">
                    <strong>Description:<br/></strong>
                <p class="description">{{ ticket.description }}</p>

                    <div class="sort_panels">

                        <div >

                            <div>
                                  <p><b>Dependencies:</b></p>
                                  <div class="row">
                                  {% for dep in ticket.ticketdependency.all %}
                                     <div class="col-md-8">
                                        {% if forloop.first %}
                                        <p>
                                            {% trans "This ticket cannot be resolved until the following ticket(s) it depends on are resolved" %}
                                        </p>
                                            <ul>
                                                {% endif %}
                                            <li>
                                                <a href='{{ dep.depends_on.get_absolute_url }}'>{{ dep.depends_on.ticket }} {{ dep.depends_on.title }}</a>
                                                ({{ dep.depends_on.get_status_display }})
                                                <a href='{% url 'helpdesk_ticket_dependency_del' ticket.id dep.id %}'>{% trans "Remove Dependency" %}</a>
                                            </li>
                                            {% if forloop.last %}
                                            </ul>
                                            {% endif %}

                                      </div>
                                      {% empty %}
                                      <div class="col-md-8">
                                        <p>{% trans "This ticket has no dependencies. If you want to make this ticket dependent on another ticket, search and add a dependent ticket. " %} </p>
                                      </div>
                                      <div class="col-md-4">
                                              <p>
                                              <form class="navbar-form navbar-left" id='searchform' method='get' action='{% url 'helpdesk_ticket_dependency_add' ticket.id %}'>
                                                  <div class="input-group">
                                                      <input type='text' name='q' size='15' class='input form-control' placeholder='{% trans "Search..." %}' id='search_query' title='{% trans "If you want to make this ticket dependent on another ticket, search and add a depend ticket." %}'/>
                                                      <input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' />
                                                      <input type='hidden' name='search_type' value='header' />
                                                      {% csrf_token %}
                                                      <span class="input-group-btn">
                                                          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Go </button>
                                                      </span>
                                                  </div>
                                              </form>
                                              </p>
                                            </div>
                                  {% endfor %}
                                  </div>

                            </div>
                                <div>
                                  {% if ticket.followup_set.all %}
                                  <h3>{% trans "Follow-Ups" %}</h3>
                                  {% load ticket_to_link %}
                                  {% for followup in ticket.followup_set.all %}
                                  {% if helpdesk_settings.HELPDESK_FOLLOWUP_MOD %}
                                      <div class='followup_mod'>
                                      <div class='title'>
                                          <span class='byline text-info'>
                                              {{ followup.user.get_full_name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ followup.date }} ({{ followup.date }})</span>
                                          <small>{{ followup.title }}</small>
                                          {% if not followup.public %}
                                          <span class='private'>({% trans "Private" %})</span>
                                          {% endif %}
                                          {% if helpdesk_settings.HELPDESK_SHOW_EDIT_BUTTON_FOLLOW_UP %}
                                          {% if followup.user and request.user == followup.user and not followup.ticketchange_set.all %}
                                          <a href="{% url 'helpdesk_followup_edit' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Edit" alt="Edit" src="{{ STATIC_URL }}helpdesk/buttons/edit.png"></a>
                                          {% endif %}
                                          {% endif %}
                                          {% if user.is_superuser and helpdesk_settings.HELPDESK_SHOW_DELETE_BUTTON_SUPERUSER_FOLLOW_UP %}
                                          <a href="{% url 'helpdesk_followup_delete' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Delete" alt="Delete" src="{{ STATIC_URL }}helpdesk/buttons/delete.png"></a>
                                          {% endif %}
                                      </div>
                                  {% else %}
                                      <div class='followup well'>
                                      <div class='title'>
                                          {{ followup.title }}
                                          <span class='byline text-info'>{% if followup.user %}by {{ followup.user }}{% endif %}<span title='{{ followup.date|date:"r" }}'>{{ followup.date }}</span>
                                              {% if not followup.public %} <span class='private'>({% trans "Private" %})</span>{% endif %}</span>
                                          {% if helpdesk_settings.HELPDESK_SHOW_EDIT_BUTTON_FOLLOW_UP %}
                                          {% if followup.user and request.user == followup.user and not followup.ticketchange_set.all %}
                                          <a href="{% url 'helpdesk_followup_edit' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Edit" alt="Edit" src="{{ STATIC_URL }}helpdesk/buttons/edit.png"></a>
                                          {% endif %}
                                          {% endif %}
                                          {% if user.is_superuser and helpdesk_settings.HELPDESK_SHOW_DELETE_BUTTON_SUPERUSER_FOLLOW_UP %}
                                          <a href="{% url 'helpdesk_followup_delete' ticket.id followup.id %}" class='followup-edit'><img width="60" height="15" title="Delete" alt="Delete" src="{{ STATIC_URL }}helpdesk/buttons/delete.png"></a>
                                          {% endif %}
                                      </div>
                                  {% endif %}

                                  <!-- display ticket comments from 'follow.comment' column -->
                                  <span class='followup-desc'>
                                      {% if followup.comment %}
                                          {{ followup.comment|force_escape|urlizetrunc:50|num_to_link|linebreaksbr }}
                                      {% endif %}
                                  </span>

                                  {% for change in followup.ticketchange_set.all %}
                                  {% if forloop.first %}
                                          <div class='changes'>
                                              <ul>
                                                  {% endif %}
                                                  <li>{% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %}Changed {{ field }} from {{ old_value }} to {{ new_value }}.{% endblocktrans %}</li>
                                  {% if forloop.last %}
                                              </ul></div>
                                          {% endif %}
                                  {% endfor %}

                                  {% for attachment in followup.attachment_set.all %}{% if forloop.first %}<div class='attachments'><ul>{% endif %}
                                  <li><a href='{{ attachment.file.url }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})
                                  {% if followup.user and request.user == followup.user %}
                                  <a href='{% url 'helpdesk_attachment_del' ticket.id attachment.id %}'>delete</a>
                                  {% endif %}
                                  </li>
                                  {% if forloop.last %}</ul></div>{% endif %}
                                  {% endfor %}
                                  </div>
                                  {% endfor %}
                                  {% endif %}
                                  {% if helpdesk_settings.HELPDESK_TRANSLATE_TICKET_COMMENTS %}
                                  </div>
                                  {% endif %}
                                </div>
                                <div id='add-followup' class="well">
                                <h4><strong>{% trans "Respond to this ticket" %}</strong></h4>

                                <form method='post' action='{% url "post_comment" ticket.id %}' enctype='multipart/form-data' class="form-horizontal">


                                <fieldset>
                                    <dl>
                                        {% if preset_replies %}
                                        <dt><label for='id_preset'>{% trans "Use a Pre-set Reply" %}</label> <span class='form_optional'>{% trans "(Optional)" %}</span></dt>
                                        <dd><select name='preset' id='id_preset'><option value=''>------</option>{% for preset in preset_replies %}<option value='{{ preset.id }}'>{{ preset.name }}</option>{% endfor %}</select></dd>
                                        <dd class='form_help_text'>{% trans "Selecting a pre-set reply will over-write your comment below. You can then modify the pre-set reply to your liking before saving this update." %}</dd>
                                        {% endif %}

                                        <dt>
                                            <label for='commentBox'>{% trans "Comment / Resolution:" %}</label>
                                        </dt>
                                        <dd>
                                            <textarea class="form-control" rows="3" name='comment' id='commentBox'></textarea>
                                        </dd>
                                        <dd class='form_help_text'>{% trans "You can insert ticket and queue details in your message. For more information, see the <a href='../../help/context/'>context help page</a>." %}</dd>

                                        <dt><label>{% trans "New Status" %}</label></dt>
                                        {% if not ticket.can_be_resolved %}

                                        <dd>{% trans "This ticket cannot be resolved or closed until the tickets it depends on are resolved." %}</dd>{% endif %}

                                        {% if ticket.status == 1 %}

                                        <dd>
                                            <input type='radio' name='new_status' value='1' id='st_open' checked='checked'><label for='st_open' class='active'>{% trans "Open" %}</label> &raquo;
                                            <input type='radio' name='new_status' value='3' id='st_resolved'{% if new_status == '3'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_resolved'>{% trans "Resolved" %}</label> &raquo;
                                            <input type='radio' name='new_status' value='4' id='st_closed'{% if new_status == '4'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_closed'>{% trans "Closed" %}</label> &raquo;
                                            <input type='radio' name='new_status' value='5' id='st_duplicate'{% if new_status == '5'%}checked='checked'{% endif%}><label for='st_duplicate'>{% trans "Duplicate" %}</label>
                                        </dd>

                                        {% endif %}

                                        {% if ticket.status == 2 %}
                                        <dd>
                                            <input type='radio' name='new_status' value='2' id='st_reopened' checked='checked'><label for='st_reopened' class='active'>{% trans "Reopened" %}</label> &raquo;
                                            <input type='radio' name='new_status' value='3' id='st_resolved'{% if new_status == '3'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_resolved'>{% trans "Resolved" %}</label> &raquo;
                                            <input type='radio' name='new_status' value='4' id='st_closed'{% if new_status == '4'%}checked='checked'{% endif%}{% if not ticket.can_be_resolved %} disabled='disabled'{% endif %}><label for='st_closed'>{% trans "Closed" %}</label> &raquo;
                                            <input type='radio' name='new_status' value='5' id='st_duplicate'{% if new_status == '5'%}checked='checked'{% endif%}><label for='st_duplicate'>{% trans "Duplicate" %}</label>
                                        </dd>
                                        {% endif %}

                                        {% if ticket.status == 3 %}
                                        <dd>
                                            <input type='radio' name='new_status' value='2' id='st_reopened'{% if new_status == '2'%}checked='checked'{% endif%}><label for='st_reopened'>{% trans "Reopened" %}</label> &laquo;
                                            <input type='radio' name='new_status' value='3' id='st_resolved' checked='checked'><label for='st_resolved' class='active'>{% trans "Resolved" %}</label> &raquo;
                                            <input type='radio' name='new_status' value='4' id='st_closed'{% if new_status == '4'%}checked='checked'{% endif%}><label for='st_closed'>{% trans "Closed" %}</label>
                                        </dd>
                                        {% endif %}

                                        {% if ticket.status == 4 %}
                                        <dd>
                                            <input type='radio' name='new_status' value='2' id='st_reopened'{% if new_status == '2'%}checked='checked'{% endif%}><label for='st_reopened'>{% trans "Reopened" %}</label> &laquo;
                                            <input type='radio' name='new_status' value='4' id='st_closed' checked='checked'><label for='st_closed'>{% trans "Closed" %}</label>
                                        </dd>
                                        {% endif %}

                                        {% if ticket.status == 5 %}
                                        <dd>
                                            <input type='radio' name='new_status' value='2' id='st_reopened'{% if new_status == '2'%}checked='checked'{% endif%}><label for='st_reopened'>{% trans "Reopened" %}</label> &laquo;
                                            <input type='radio' name='new_status' value='5' id='st_duplicate' checked='checked'><label for='st_duplicate'>{% trans "Duplicate" %}</label>
                                        </dd>
                                        {% endif %}

                                        {% if helpdesk_settings.HELPDESK_UPDATE_PUBLIC_DEFAULT %}
                                        <input type='hidden' name='public' value='1'>
                                        {% else %}
                                        <dt><label for='id_public'>{% trans "Is this update public?" %}</label> <span class='form_optional'>{% trans "(Optional)" %}</span></dt>
                                        <dd><input type='checkbox' name='public' value='1' checked='checked' /></dd>
                                        <dd class='form_help_text'>{% trans "If this is public, the submitter will be e-mailed your comment or resolution." %}</dd>
                                        {% endif %}
                                    </dl>


                                <!-- <p id='ShowFileUploadPara'><a href='#' id='ShowFileUpload'>{% trans "Attach File(s) &raquo;" %}</a></p>

                                <div id='FileUpload' style='display: none;'>

                                    <dl>

                                        <dt><label for='id_file'>{% trans "Attach a File" %}</label></dt>
                                        <dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>
                                    </dl>

                                </div> -->

                                </fieldset>
                                <div class="row">
                                <div class="col-md-9">
                                  <input class="btn btn-primary" type='submit' value='{% trans "Update This Ticket" %}' />

                                      {% if not ticket.github_issue_url %}
                                       {% if request.user.is_staff %}
                                        <input name="github" type='button ' class="btn btn-info" value='{% trans "Send to Github" %}' onClick="location.href='/helpdesk/tickets/{{ticket.id}}/send_to_github/'"/>
                                      {% endif %}
                                      {% else %}

                                      <input name="view_github" type='button ' class="btn btn-info" value='{% trans "View Ticket in Github" %}' onClick="location.href='{{ ticket.github_issue_url }}'"/>
                                      {% endif %}

                                      {% if ticket.slack_status == 0 %}
                                      <a href='{% url "post_to_slack" ticket.id %}'><img alt="Add to Slack" height="40" width="139" src="{{ STATIC_URL }}/img/add_to_slack.png"></a>
                                      {% else %}
                                      <a href="https://tola-users.slack.com/archives/tola-work"><img alt="Posted to Slack" height="60" width="140" src="{{ STATIC_URL }}/img/slack.png" /></a>
                                      {% endif %}
                                      {% csrf_token %}
                                  </form>
                                </div>
                                  <div class="col-md-2 col-md-offset-1">
                                    <a href='#' data-toggle="modal" data-target="#deleteModal"class="ticket-delete"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                    <span>
                                    {% if ticket.on_hold %}
                                        | <a href='{% url "helpdesk_unhold" ticket.id %}' class="ticket-hold">{% trans "Unhold" %}</a>
                                    {% else %}
                                        |<a href='{% url "helpdesk_hold" ticket.id %}' class="ticket-hold">{% trans "Hold" %}</a>
                                    {% endif %}</span>
                                    <!-- delete modal -->
                                    <div id="deleteModal" class="modal fade" role="dialog">
                                      <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title font9">Delete Ticket</h3>
                                          </div>
                                          <div class="modal-body">
                                            <p>{% blocktrans with ticket.title as ticket_title %}Are you sure you want to delete this ticket (<em>{{ ticket_title }}</em>)?</p><p> All traces of the ticket, including followups, attachments, and updates will be irreversibly removed.{% endblocktrans %}</p>

                                            <p><a href='../'>{% trans "No, Don't Delete It" %}</a></p>

                                            <form method='post' action='/helpdesk/tickets/{{ticket.id}}/delete/'>
                                              <input class="btn btn-primary" type='submit' value='{% trans "Yes - Delete It" %}' />{% csrf_token %}
                                            </form>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                  </div>
                                </div>

                                </div>
                              </div>
                            </div>
                </div>
                <div class="panel-footer">
                   <div class="panel-heading">
                   {% if user.is_superuser %}
                      <a data-toggle="collapse" data-parent="#dynamicForm" href="#addTask{{ticket.id}}">
                      <div class="info read_more"><b><span class="glyphicon glyphicon-edit"></span></b> <strong>Edit Ticket</strong></div></a>
                  {% endif %}

                     <!-- <strong>Ticket Status: </strong><font>In Progress </font>&nbsp;<span class="badge"> 2 </span>&nbsp;&nbsp;<span class="glyphicon glyphicon-tags"></span> -->
                    <strong>Queue:</strong>{% blocktrans with ticket.queue as queue %}&nbsp;[{{ queue }}] {% endblocktrans %}
                    <strong>&nbsp;Ticket Status:</strong>&nbsp;<span class="label label-warning"> {{ ticket.get_status }} </span>


                       <strong>&nbsp;&nbsp;Tags:</strong>
                    {%if tags %}

                      {% for tag in ticket.tags.all %}
                          <span class="label label-info">{{tag}}</span>
                      {% endfor %}
                    {% else %}
                          <span class="label label-warning">No Tags</span>
                    {% endif %}
                   <strong>&nbsp;&nbsp;Votes:</strong>&nbsp;{{ ticket.votes }}&nbsp; <a href="{% url 'vote_up' ticket.id %}">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>&nbsp; <a href="{% url 'vote_down' ticket.id %}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>



                  </div>
                  <div id="addTask{{ticket.id}}" class="panel-collapse collapse addTask">
                    <div class="ticket_task">
                      <div class="panel-body">
                        <p>{% blocktrans %}<strong>No new details should be entered when editing a ticket. </strong><br/>This form should only be used to fix incorrect details on a ticket or clean up the submission.{% endblocktrans %}</p>
                      </div>
                      <div class="ticket_form_cover">
                        <div class="ticket_form info">
                          <form  method='post' id="ticket_edit-form{{ticket.id}}">
                          <div class=" row task_spacing">
                            <div class="col-md-12 ticket_padding row">
                               <label class="col-md-1"><p><strong>{% trans "Title:" %}</strong></p></label>
                               <div class=" col-md-10">
                                  <input class="form-control ticket_title" type='text' name='title' id='id_title'  value='{{ ticket.title|escape }}' />
                               </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class= "col-md-6 row ticket_edit" >
                              <label class="col-md-4"><p><strong>{% trans "Queue:" %}</strong></p></label>
                              <div class="col-md-8">
                                <select class="form-control" id='id_queue' name='queue'>{% for q in ticket_queue %}<option value='{{ q.id }}'{% ifequal q.id ticket.queue_id %} selected='selected'{% endifequal %}>{{ q }}</option>{% endfor %}</select>
                              </div>
                            </div>
                            <div class= "col-md-6 row ticket_edit" >
                              <label class="col-md-4"><p><strong>{% trans "Submitter Email:" %}</strong></p></label>
                              <div class="col-md-8">
                                <input class="form-control" type='text' name='email' id='id_email' value='{{ ticket.submitter_email|escape }}' />
                              </div>
                            </div>
                          </div>
                          <div class=" row task_spacing">
                            <div class= "col-md-6 row ticket_edit" >
                              <label class="col-md-4"><p><strong>{% trans "Error Message:" %}</strong></p></label>
                              <div class="col-md-8">
                                <textarea class="form-control" name="error_msg" rows="4"  > {{ ticket.error_msg|escape }} </textarea>
                              </div>
                            </div>
                             <div class= "col-md-6 row ticket_edit" >
                              <label class="col-md-4"><p><strong>{% trans "Description of Issue:" %}</strong></p></label>
                              <div class="col-md-8">
                                <textarea class="form-control" name="description" rows="4" > {{ ticket.description|escape }} </textarea>
                              </div>
                            </div>
                          </div>
                          <div class=" row">
                            {% if user.is_superuser %}
                              <div class="col-md-6 row ticket_edit">
                                <label class="col-md-4"><p><strong>{% trans "Case Owner:" %}</strong></p></label>
                                <div class="col-md-8">
                                  <select class="form-control" id='id_owner' name='owner'><option value=''>{% trans "Unassign" %}</option>{% for u in active_users %}<option value='{{ u.id }}' {% ifequal u.id ticket.assigned_to.id %}selected{% endifequal %}>{{ u }}</option>{% endfor %}</select>
                                </div>
                              </div>
                            {% endif %}
                            <div class="col-md-6 row ticket_edit">
                              <label class="col-md-4"><p><strong> {% trans "Type of Ticket:" %}</strong></p></label>
                              <div class="col-md-8 ">
                                <select class="form-control" id='id_type' name='type'>{% for tt in ticket_type %}<option value='{{ tt.0 }}'{% ifequal tt.0 ticket.type %} selected='selected'{% endifequal %}>{{ tt.1 }}</option>{% endfor %}</select>
                              </div>
                            </div>
                          </div>
                          <div class="row task_spacing">
                            <div class= "col-md-6 row" >
                              <label class="col-md-4"><p><strong>{% trans "Priority:" %}</strong></p></label>
                              <div class="col-md-8">
                                <select class="form-control" id='id_priority' name='priority'>{% for p in priorities %}<option value='{{ p.0 }}'{% ifequal p.0 ticket.priority %} selected='selected'{% endifequal %}>{{ p.1 }}</option>{% endfor %}</select>
                              </div>
                            </div>                            
                          </div>
                          <div class="row">
                            <div class= "col-md-8 row">
                              <label class="col-md-3"><p><strong>{% trans "Due Date:" %}</strong></p></label>
                              <p class="col-md-9">{{ form.due_date }}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class= "col-md-6 row  task_spacing" >
                              <label class="col-md-4"><p><strong>{% trans "Tags:" %}</strong></p></label>

                              <div class="col-md-8">
                                <span id="helpBlock" class="help-block">To add <strong>NEW</strong> tag(s), type in then press <strong>'ENTER'</strong></span>
                                <select class = "form-control multi_select {{ticket.id}}" style="width:200px" multiple = "multiple" id='id_edit_tags{{ticket.id}}' name='edit_tags' aria-describedby="helpBlock" id="inputHelpBlock"> 
                                    {% for q in tags %} 

                                      <option value='{{ q.id }}' {% for tag in ticket.tags.all %} {% ifequal q.id tag.id %} selected='selected'{% endifequal %}{% endfor %}>{{q.name}}</option>

                                    {% endfor %}
                                </select>
                                <script type="text/javascript">
                                      $(".{{ticket.id}}").select2({
                                              tags: true,
                                              allowClear: true,
                                              placeholder: "Add tags",

                                              createTag: function(tag) {
                                                  return {
                                                      id: tag.term,
                                                      text: tag.term,
                                                      isNew: true
                                                  };
                                              },

                                            }).on("change", function(e) {
                                              var isNew = $(this).find('[data-select2-tag="true"]');
                                              if(isNew.length){
                                                  isNew.replaceWith('<option selected="selected" value="'+isNew.val()+'">'+isNew.text()+'</option>');
                                              }
                                          });
                                </script>
                                
                              </div>
                            </div>  
                          </div>
                          <div class=" row">
                              <label class= "col-md-6 row ticket_edit">
                                  <input class="btn btn-primary col-md-offset-5" type='submit' value='{% trans "Save Changes" %}' />
                              </label>
                          </div>
                           {% csrf_token %}
                          </form>
                           <script>
                              $('#ticket_edit-form{{ticket.id}}').on('submit', function(event){
                                  event.preventDefault();
                                  var csrftoken = $("#ticket_edit-form{{ticket.id}}").find('input[name="csrfmiddlewaretoken"]').val();
                                  edit_ticket_post('{{ticket.id}}', csrftoken);
                              });
                            </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

          </div>

    </div>
    <div class="col-md-3 col-sm-3 ">
       <!-- start search -->
          <div class="search" >
            <form class="input-group" id='searchform' method='get' action="{% url 'helpdesk_list' %}">
                <input type="text" name='q' class="form-control" placeholder="Search" id='search_query'>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </form>
          </div>
          <!-- end search -->

          <!-- start filters -->
          <div class="panel panel-info ">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-user"></span>&nbsp;<strong>My Tasks and Tickets <span class="badge">{{ num_tickets }}</span></strong>
              </div>
              <div class="panel-body">
                <div class="sort_panels">
                  <span class="glyphicon glyphicon-th-list"></span>&nbsp;Created By Me <strong> <span class="badge read_more"> {{ tickets_created }} </span></strong>
                </div>
                <div class="sort_panels">
                   <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Assigned to Me <strong> <span class="badge read_more"> {{ tickets_assigned }} </span></strong>
                </div>
                 <div class="sort_panels">
                  <span class="glyphicon glyphicon-th"></span>&nbsp;Closed by Me <strong> <span class="badge read_more"> {{ tickets_closed }} </span></strong>
                 </div>
              </div>
          </div>

        <div class="panel panel-info">
            <div class="panel-heading"> <strong>Sort Tickets</strong></div>

                <form method='get' action='./'>
                  <div class="panel-body ">
                    <select   class="btn btn-default dropdown-toggle" id='id_sort' name='sort'>
                      <option value='created'{% ifequal query_params.sorting "created"%} selected='selected'{% endifequal %}>
                          {% trans "Created" %}
                      </option>
                      <option value='title'{% ifequal query_params.sorting "title"%} selected='selected'{% endifequal %}>
                          {% trans "Title" %}
                      </option>
                      <option value='queue'{% ifequal query_params.sorting "queue"%} selected='selected'{% endifequal %}>
                          {% trans "Queue" %}
                      </option>
                      <option value='status'{% ifequal query_params.sorting "status"%} selected='selected'{% endifequal %}>
                          {% trans "Status" %}
                      </option>
                      <option value='priority'{% ifequal query_params.sorting "priority"%} selected='selected'{% endifequal %}>
                          {% trans "Priority" %}
                      </option>
                      <option value='assigned_to'{% ifequal query_params.sorting "assigned_to"%} selected='selected'{% endifequal %}>
                          {% trans "Owner" %}
                      </option>
                      <option value='assigned_to'{% ifequal query_params.sorting "type"%} selected='selected'{% endifequal %}>
                          {% trans "Type" %}
                      </option>
                      <option value='votes'{% ifequal query_params.sorting "votes"%} selected='selected'{% endifequal %}>
                          {% trans "Most Vote Up" %}
                      </option>
                    </select>
                      <div class="col-md-12 row reverse_sort">

                      <label for='id_sortreverse'>{% trans "Reverse: " %}</label>
                      <input type='checkbox' name='sortreverse' id='id_sortreverse'{% if query_params.sortreverse %} checked='checked'{% endif %} />
                      <p class='filterHelp'>{% trans "Ordering applied to tickets" %}</p>
                      </div>
                       <input class="btn btn-primary" type='submit' value='{% trans "Sort" %}' />
                    </div>
                </form>
        </div>


        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>{% trans "Filter Tickets" %}</strong>
            </div>

        <div class="panel-body" id="ko">
            <div class="row" id="ko1">
                <div class=" col-md-12">
                    <strong>Click</strong> on <strong>"+"</strong> to add filters to query on and  <strong>"-"</strong>  to remove a filter.
                </div>
            </div>
                <form class="filter_form">
                    <select name='select' id='filterBuilderSelect' class="btn btn-default col-md-8 dropdown-toggle">
                        <option value='Owner'>{% trans "Assigned to me" %}</option>
                        <option value='Created'>{% trans "Created by Me" %}</option>
                        <option value='Queue'>{% trans "Queue" %}</option>
                        <option value='Status'>{% trans "Status" %}</option>
                        <option value='Keywords'>{% trans "Keywords" %}</option>
                        <option value='Dates'>{% trans "Date Range" %}</option>
                        <option value='Type'>{% trans "Type" %}</option>
                    </select>
                    <input class="btn sort_add" type='button' id='filterBuilderButton' value='+' />
                  {% csrf_token %}
                </form>
                <form method='get' action='./'>
                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.assigned_to__id__in %} filterBoxShow{% endif %}' id='filterBoxOwner'>
                    <div class="keywords">
                        <label  for='id_owners'>{% trans "Owner(s): " %}</label>
                        <select id='id_owners' name='assigned_to' multiple='selected' rows="4" class="owners_select">
                            {% for u in user_choices %}
                            <option value='{{ u.id }}'{% if u.id|in_list:query_params.filtering.assigned_to__id__in %} selected='selected'{% endif %}>
                                {% trans "Assigned to Me" %}
                            </option>
                            {% endfor %}

                        </select>

                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-Click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>
                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.queue__id__in %} filterBoxShow{% endif %}' id='filterBoxCreated'>
                    <div class="keywords">
                        <label for='id_owners'>{% trans "Created by Me: " %}</label>
                        <select id='id_owners1' name='submitter_email' multiple='selected' rows="4" class="owners_select">
                            {% for u in user_choices %}
                            <option value='{{ u.email }}'{% if u.email|in_list:query_params.filtering.submitter_email__in %} selected='selected'{% endif %}>
                                {%trans "Created By Me"%}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.queue__id__in %} filterBoxShow{% endif %}' id='filterBoxQueue'>
                    <div class="keywords">
                        <label for='id_queues'>{% trans "Queue(s): " %}</label>
                        <select id='id_queues' name='queue' multiple='selected' rows="4" class="owners_select">
                            {% for q in queue_choices %}
                            <option value='{{ q.id }}'{% if q.id|in_list:query_params.filtering.queue__id__in %} selected='selected'{% endif %}>
                                {{ q.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.status__in %} filterBoxShow{% endif %}' id='filterBoxStatus'>
                  <div class="keywords">
                      <label for='id_statuses'>{% trans "Status(es): " %}</label>
                      <select id='id_statuses' name='status' multiple='selected' rows="4" class="status_select" >{% for s in status_choices %}
                          <option value='{{ s.0 }}'{% if s.0|in_list:query_params.filtering.status__in %} selected='selected'{% endif %}>{{ s.1 }}</option>{% endfor %}
                      </select>
                  </div>
                  <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                  <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail sorting_form filterBox{% if query_params.filtering.created__gte or query_params.filtering.created__lte %} filterBoxShow{% endif %}' id='filterBoxDates'>
                    <label for='id_date_from'>{% trans "Date (From): " %}</label>
                    <input class="date_input" type='text' name='date_from' value='{{ query_params.filtering.created__gte }}' id='id_date_from' />
                    <div class="date_to">

                      <label for='id_date_to'>{% trans "Date (To): " %}</label>
                      <input  class="date_input" type='text' name='date_to' value='{{ query_params.filtering.created__lte }}' id='id_date_to' />
                    </div>
                    <p class='filterHelp'>{% trans "Use YYYY-MM-DD date format, eg 2011-05-29" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail  sorting_form filterBox{% if query %} filterBoxShow{% endif %}' id='filterBoxKeywords'>
                    <div class="keywords">
                        <label for='id_query'>{% trans "Keywords: " %}</label>
                        <input class="status_select" type='text' name='q' value='{{ query }}' id='id_query' />
                    </div>
                    <p class='filterHelp'>{% trans "Keywords are case-insensitive, and will be looked for in the title, body and submitter fields." %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <div class='thumbnail  sorting_form filterBox{% if query_params.filtering.status__in %} filterBoxShow{% endif %}' id='filterBoxType'>
                    <div class="keywords">
                        <label for='id_types'>{% trans "Types: " %}</label>
                        <select id='id_types' name='types' multiple='selected' rows="4" class="types_select">{% for s in type_choices %}<option value='{{ s.0 }}'{% if s.0|in_list:query_params.filtering.type__in %} selected='selected'{% endif %}>{{ s.1 }}</option>{% endfor %}</select>
                    </div>
                    <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                    <input type='button' class='filterBuilderRemove' value='-' />
                </div>

                <hr style='clear: both;' />
                  <input class="btn btn-primary" type='submit' value='{% trans "Apply Filter" %}' />
                  {% if from_saved_query and saved_query.user == user %}
                  <p>{% blocktrans with saved_query.title as query_name %}You are currently viewing saved query <strong>"{{ query_name }}"</strong>.{% endblocktrans %} <a href='{% url 'helpdesk_delete_query' saved_query.id %}'>{% trans "Delete Saved Query" %}</a></p>
                  {% endif %}
                  {% if from_saved_query %}
                  <p>{% blocktrans with saved_query.id as query_id %}<a href='../reports/?saved_query={{ query_id }}'>Run a report</a> on this query to see stats and charts for the data listed below.{% endblocktrans %}</p>
                  {% endif %}
                  {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        processAddFileClick();
        $("#ShowFileUpload").click(function() {
            $("#FileUpload").fadeIn();
            $("#ShowFileUploadPara").show();
            return false;
        });

        $('#id_preset').change(function() {
            preset = $('#id_preset').val();
            if (preset != '') {
                $.get("{% url 'helpdesk_raw' "preset" %}?id=" + preset, function(data) {
                    $("#commentBox").val(data)
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            $(this).parent().remove();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

     $(function () {
        $('[data-toggle="popover"]').popover()
      });

    $('#ticket_edit-form').on('submit', function(event){
          event.preventDefault();
          edit_ticket_post();
      });

    }
</script>
{% endblock %}
