{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Ticket CC Settings" %}{% endblock %}

{% block helpdesk_body %}{% blocktrans with ticket.title as ticket_title and ticket.id as ticket_id %}
<h2>Ticket CC Settings</h2>

<p>The following people will receive an e-mail whenever the Ticket below is updated
    <br/><br/><span class="glyphicon glyphicon-edit"></span>&nbsp;<strong>{{ ticket_title }}</strong>. <br/><br/>Some people can also view or edit the ticket via the public ticket views.</p>

<p>You can <a href='add/'>add a new e-mail address to the list</a> or delete any of the items below as required.</p>{% endblocktrans %}

<table class="table table-hover table-bordered">
<caption>{% trans "Ticket CC List" %}</caption>
<thead>
<tr><th>{% trans "E-Mail Address" %}</th><th>{% trans "View?" %}</th><th>{% trans "Update?" %}</th><th>{% trans "Delete" %}</th></tr>
</thead>
<tbody>
{% for person in copies_to %}
<tr class='row_{% cycle odd,even %}'>
    <td>{{ person.display }}</td>
    <td>{{ person.can_view }}</td>
    <td>{{ person.can_update }}</td>
    <td><a href='{% url 'helpdesk_ticket_cc_del' ticket.id person.id %}'>{% trans "Delete" %}</a></td>
</tr>
{% endfor %}
</tbody>
</table>



{% endblock %}
