{% extends "base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Tickets" %}{% endblock %}
{% block helpdesk_head %}
<style type="text/css" src='{{ STATIC_URL }}helpdesk/app.css'></style>


{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<div class="container">
<h3>Submitted Tickets</h3>


    {% if not number_of_tickets%}
    <strong> <span class="badge"> No records found</span></strong>
    {%else%}
    <strong> <span class="badge">{{number_of_tickets }} Record(s) found</span></strong>
    {%endif%}

<!-- main div -->
  <div class="ticket_cover">
        <div class="col-md-9 col-sm-9 ticket_right">
            {% for ticket in tickets.object_list %}
              <div class="panel panel-info">
                <div class="panel-heading"> <a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket | upper}}</a> <strong class="font8"> {{ ticket.title }} </strong> <br>
                Reported on {{ ticket.created | date}}, {{ ticket.created | time}} by {{ ticket.submitter_email }}  </div>
                <div class="panel-body">
                {{ ticket.description }}
                </div>
                <div class="panel-footer">
                    <span class="glyphicon glyphicon-tags"></span> <strong> Tags:</strong> {% for tag in ticket.tags.all %}
                      <span class="label label-info">{{tag}}</span>
                    {% endfor %}
    | <span class="glyphicon glyphicon-cog"></span><strong> Tasks</strong>
                </div>

              </div>
            {% endfor %}

            <!-- start paginator -->
          <div>
               <ul class="pagination">
                 {% if tickets.has_previous %}
                     <li><a href="?{% if query_string %}{{ query_string }}&amp;{% endif %}page={{ tickets.previous_page_number }}"> {% trans "<<" %} </a></li>
                     <li><a href="?{% if query_string %}{{ query_string }}&amp;{% endif %}page={{ tickets.previous_page_number }}"> {{tickets.previous_page_number}} </a></li>
                 {% endif %}
                  {% blocktrans with tickets.number as ticket_num %}
                      <li><a class="active" href=" page= {tickets.paginator.num_pages as num_pages %} "> {{ ticket_num }}</a></li>
                  {% endblocktrans %}
                 {% if tickets.has_next %}
                     <li><a href="?{% if query_string %}{{ query_string }}&amp;{% endif %}page={{ tickets.next_page_number }}">{{ tickets.next_page_number }}</a></li>
                     <li><a href="?{% if query_string %}{{ query_string }}&amp;{% endif %}page={{ tickets.next_page_number }}">{% trans ">>" %}</a></li>

                 {% endif %}

                </ul>

            </div>
            <!-- end paginator -->
        </div>
        <div class="col-md-3 col-sm-3 ">
       <!-- start search -->
          <div class="search" >
            <form class="input-group" id='searchform' method='get' action="{% url 'helpdesk_list' %}">
                <input type="text" name='q' class="form-control" placeholder="Search" id='search_query'>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </form>
          </div>
          <!-- end search -->

          <!-- start filters -->
          <div>
            <div class="panel panel-info ">
              <div class="panel-heading">
                <strong>Issues <span class="badge">{{ num_tickets }}</span></strong>
                <a href="/helpdesk/tickets/submit">
                  <div class="ticket_issues">
                    <span class="glyphicon glyphicon-plus"></span>New Issue
                  </div>
                </a>
              </div>
                <form action="" method="post">
              <div class="panel-body sort_panels">
                  <input type='radio' name='created_by_me' id='created_by_me'> Created By Me <strong> <span class="badge col-md-offset-3">{{ mine }}</span></strong>

              </div>
              <div class="panel-body">
                <input type='radio' name='assigned_to_me' id='assigned_to_me'> Assigned to Me <strong> <span class="badge col-md-offset-3">{{ assigned }}</span></strong>
              </div>
                    <div class="panel-body">
                        <input type='radio' name='resolved_by_me ' id='resolved_by_me'> Resolved By Me <strong> <span class="badge col-md-offset-3"></span></strong>
                    </div>
                    </form>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"> <strong>Sort By</strong></div>
                <div class="panel-body sort_panels">
                Most Up Votes
                </div>
                <div class="panel-body">
                Clear Filter and Sort
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading"> <strong>Issues By Year/Month</strong></div>
                <div class="panel-body sort_panels">
                <b><span class="glyphicon glyphicon-plus"></span></b>2016
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading"> <strong>Filter Issues By Type</strong></div>
                <div class="panel-body sort_panels">
                Feature Request
                </div>
                <div class="panel-body">
                Suggestion
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-heading"> <strong>Filter Issues By Status</strong></div>
                <div class="panel-body sort_panels">
                Feature Request
                </div>
                <div class="panel-body">
                Suggestion
                </div>
              </div>
          </div>
          <!-- end filters -->
        </div>
</div>
</div>
</div>
{% endblock content %}
