.login-body
{
	position: relative;
	overflow: hidden;
	border:1px solid#eee;
	border-radius: 10px;
	padding:10px;
	margin-bottom: 5px;
}
.login-title
{
	text-align: center;
}
.login-main
{
	position: relative;
	overflow: hidden;
	padding:10px;
	background-color: #eee;
	margin-top: 70px;
	border-radius: 10px;
}
.login-details
{
	position: relative;
	overflow: hidden;
	border:1px solid#eee;
	background-color: #fff;
	border-radius: 10px;
	padding-bottom:40px;
}
#input_detail
{
	margin-top: 10px;
	margin-bottom: 5px;
}
.login-top
{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.login-header
{
	border:none;
}
.login-footer
{
	border:none;
}
.login-content
{
	padding-left: 10px;
	padding-right: 10px;
}
.social-buttons
{
	margin-top: 5px;
}
.button
{
	border-radius: 5px;
}