{% extends "base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Tickets" %}{% endblock %}
{% block helpdesk_head %}
<style type="text/css" src='{{ STATIC_URL }}helpdesk/app.css' xmlns="http://www.w3.org/1999/html"></style>
{% endblock %}


{% block content %}
{% load in_list %}
<script type="text/javascript" src="{{ STATIC_URL }}js/highlight_keywords.js" charset="UTF-8"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css">
<style type="text/css" src='{{ STATIC_URL }}task/css/app.css'></style>
<div class="container">
<h3>My Tasks</h3>
  <div class="ticket_cover">
        <div class="col-md-9 col-sm-9">
         <!-- start search -->
         <div class="row">
           <div class="search col-md-8" >
              <form class="input-group" id='searchform' method='get' action="{% url 'task_list' %}">
                  <input type="text" name='q' class="form-control" placeholder="Search Tasks" id='q'>
                  <span class="input-group-btn">
                    <button  class="btn btn-info" type="button" onclick="submit_query()"><span class="glyphicon glyphicon-search"></span></button>
                    <script type="text/javascript">
                      function submit_query(){
                         var input = document.getElementById("q").value;
                          if (input!==""){ 
                          window.location.href =  '{% url 'task_list' %}?{% if query_string %}{{ query_string }}&{% endif %}q='+input;
                          }
                          else
                            alert("kindly enter a search term");
                      }
                  </script>
                  </span>
                </form>
            </div>
         </div>
          <!-- end search -->


          <!-- start table -->
         <!--  <p class="highlight_div">{{query}}</p> -->
            <div class="table-responsive">
              <table class="table table-striped table-bordered" style="border-collapse:collapse;">
                <tr class="info">
                  <td class="highlight_div"><strong>Task Title</strong></td>
                  <td><strong>Start Date</strong></td>
                  <td><strong>Due Date</strong></td>
                  <td><strong>Status</strong></td>
                  <td><strong>Priority</strong></td>
                  <td><strong>Assigned To</strong></td>
                </tr>
                {% load endless %}
                {% paginate tasks %}
                {% for task in tasks.reverse %}
                <tr data-toggle="collapse" data-target="#{{ task.id }}" class="accordion-toggle">

                <td><strong><a href= "#">{{ task.task }}</a></strong></td>
                <td>{{ task.created_date | date}}</td>
                <td>{{ task.due_date | date}}</td>
                 <td> {% if task.status == 1 %} Active {%elif task.status == 2%}Re-Opened{% elif task.status == 3%}Closed{% elif task.status == 4%}Cancelled  {% endif %}</td>
                  <td> {% if task.priority == 1 %} High {% elif task.priority == 2 %} Normal {% elif task.priority == 3 %} Low {% endif %}</td>

                <td>{{task.assigned_to}}</td>
                </tr>
                <tr>
                  <td colspan="12" class="hiddenRow">
                  
                  <div class="accordian-body collapse" id="{{ task.id }}"> 
                  
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#task{{ task.id }}">View Task</a></li>
                      <li><a data-toggle="tab" href="#" data-target="#tasktab{{ task.id }}">Edit Task</a></li>
                        <li><a href="#" data-toggle="tab" data-target="#deletetask{{ task.id }}">Delete Task</a></li>

                      </ul>

                    <div class="tab-content">
                      <div id="task{{ task.id }}" class="tab-pane task_view fade in active">
                        <h4 class="view_table"><strong>Task Details</strong></h4>
                        <div class="col-md-12 row table-responsive">
                        <table class="table table-striped table-condensed view_table">
                          <tr>
                            <td class="highlight_div"><p><strong> {% trans "Title:" %}</strong></p></td>
                            <td><p>[{{task.id}}] {{task.task}}</p></td>
                            <td><p><strong>{% trans "Submitter Email:" %}</strong></p></td>
                            <td><p>{{task.submitter_email}}</p></td>
                          </tr>
                          <tr><td><p><strong>{% trans "Status:" %} </strong></p></td>
                            <td><p>{% if task.status == 1 %} Active {%elif task.status == 2%}Re-Opened{% elif task.status == 3%}Closed{% elif task.status == 4%}Cancelled  {% endif %}</p></td>
                            <td><p><strong>{% trans "Priority:" %}</strong></p></td>
                            <td><p>{% if task.priority == 1 %} High {% elif task.priority == 2 %} Normal {% elif task.priority == 3 %} Low {% endif %}</p></td>
                          </tr>

                          <tr>
                            <td><p><strong>{% trans "Created Date:" %}</strong></p></td>
                            <td><p>{{ task.created_date | date}}</p></td>
                            <td><p><strong>{% trans "Due Date:" %}</strong></p></td>
                            <td> <p>{{ task.due_date | date}}</p></td>
                          </tr>
                          <tr>
                            <td><strong>{% trans "Created by:" %}</strong></td>
                            <td>{{ task.created_by }}</td>
                            <td><strong>{% trans "Assigned to:" %}</strong></td>
                            <td>{{task.assigned_to}}</td>
                          </tr>
                          <tr>
                            <td><strong>{% trans "Note:" %}</strong></td>
                            <td colspan="8">{{ task.note|safe}}</td>
                        
                          </tr>
                        </table>
                        
                        </div>
                        
                      </div>
                     <!--  Edit Task  -->
                      <div id="tasktab{{ task.id }}" class="tab-pane task_edit fade">
                      <p class="font9"> <strong>Use this form to make any changes to the task</strong></p>
                        <div class="ticket_form">
                          <form method= "POST" action='{% url 'task_edit' task.id  %}'>
                            <div class="col-md-12 row">
                              <div class="col-md-6 row ticket_edit">
                                 <label class="col-md-4"><p><strong> {% trans "Title:" %}</strong></p></label>
                                 <div class="col-md-8">
                                    <input class="form-control" type="text" id='id_title{{task.id}}' name='task' required value="{{task.task}}" />
                                 </div>
                              </div>
                              <div class="col-md-6 row ticket_edit">
                                    <label class="col-md-4"><p><strong>{% trans "Submitter Email:" %}</strong></p></label>
                                    <div class="col-md-8" >
                                      <input class="form-control" type="text" name='submitter_mail' id='id_submitter_mail' value="{{task.submitter_email}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row task_spacing">
                             <div class="col-md-6 row ticket_edit">
                                    <label class="col-md-4"><p><strong>{% trans "Status:" %}</strong></p></label>
                              <div class="col-md-8">
                                  <select class="form-control" id='id_status' name='status'>
                                  {% for s in status_choices %}<option value='{{ s.0 }}'{% ifequal s.0 task.status %} selected='selected'{% endifequal %}>{{ s.1 }}</option>{% endfor %}
                                </select >
                               </div>
                              </div>
                                <div class="col-md-6 row ticket_edit">
                                   <label class="col-md-4"><p><strong>{% trans "Priority:" %}</strong></p></label>
                                   <div class="col-md-8">
                                     <select class="form-control" id='id_priority' name='priority'>
                                     {% for p in priority %}<option value='{{ p.0 }}'{% ifequal p.0 task.priority %} selected='selected'{% endifequal %}>{{ p.1 }}</option>{% endfor %}
                                      </select>
                                   </div>
                                </div>
                              </div>
                              <div class="col-md-12 row">

                                <div class="col-md-6 row ticket_edit">
                                  <label class="col-md-4"><p><strong>{% trans "Created Date:" %}</strong></p></label>
                                  <div class="col-md-8">

                                     <input class="form-control" name='created_date' id='id_edit_created_date' value="{{ task.created_date | date}}">
                                  </div>
                                </div>
                                  <div class="col-md-6 row ticket_edit">
                                  <label class="col-md-4"><p><strong>{% trans "Due Date:" %}</strong></p></label>
                                  <div class="col-md-8">
                                  <input class="form-control" name='due_date' id='id_edit_due_date' Value="{{ task.due_date | date}}">

                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12 row">
                                <div class="col-md-6 row ticket_edit">
                                  <label class="col-md-4"><p><strong>{% trans "Created by:" %}</strong></p></label>
                                  <div class="col-md-8">
                                    <select class=" form-control" name='created_by' id='id_created_by'>
                                      <option value="{{created_by.id}}">{{task.created_by}}</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-6 row ticket_edit">
                                  <label class="col-md-4"><p><strong>{% trans "Assigned to:" %}</strong></p></label>
                                  <div class="col-md-8">
                                    <select class="form-control" name='assigned_to' id='id_assigned_to'>

                                      {% for user in assignable_users %}<option value='{{ user.id }}' {% ifequal user.id task.assigned_to_id %} selected {% endifequal %}>{{ user.username }}</option>{% endfor %}

                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12 row">
                                <div class="col-md-11 row ticket_edit">
                                  <label class="col-md-2"><p><strong>{% trans "Note:" %}</strong></p></label>
                                  <div class="col-md-9 edit_note">
                                      <textarea class="form-control" rows="4" name='note_edit' id='id_note_edit' required>{{ task.note}}</textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12 row modal_button">
                                <label class= "col-md-6 row ticket_edit">
                                    <input class="btn btn-primary col-md-offset-5" type='submit' value='{% trans "Save Changes" %}' />
                                    {% csrf_token %}

                                </label>
                            </div>
                            </form>

                        </div>
                      </div>

                        <div id="deletetask{{ task.id }}" class="tab-pane task_edit fade">
                          <div class="ticket_form">
                            <h2>{% trans "Delete Task" %}</h2>
                            <p>Are you sure you want to delete the task <strong>{{ task_task }}</strong>? All traces of the task, including task_followups, attachments, and updates will be irreversibly removed.</p>
                            <p><a href='./'>{% trans "No, Don't Delete It" %}</a></p>
                            <form method= "POST" action='{% url 'delete_task' task.id  %}'>
                              <input type="submit" value="Confirm Delete" />{% csrf_token %}
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                  </td>
                </tr>
                {% endfor %}

                <tr>
                  <td colspan="6">
                    {% get_pages %}
                    <div>{% include "../templates/paginator.html" %}</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="6">
                    <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#myModal" ><b><span class="glyphicon glyphicon-plus"></span></b><strong></strong> Create a Task</strong>  </button>
                  </td>
                </tr>
              </table>

            </div>
            <!-- end table -->
            <!-- Modal -->

            <div class="modal fade " id="myModal" role="dialog">
              <div class="modal-dialog task_form modal-lg">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title font9">Add Task</h3>
                  </div>
                  <div class="modal-body">

                    <form method= "POST" action='{% url 'task_submit'%}'>
                    <div class="col-md-12 row">
                    <div class="col-md-6 row ticket_edit">
                       <label class="col-md-4"><p><strong> {% trans "Title:" %}</strong></p></label>
                       <div class="col-md-8">
                          <input class="form-control" type="text" id='id_task' name='task' required>
                       </div>
                    </div>
                    <div class="col-md-6 row ticket_edit">
                          <label class="col-md-4"><p><strong>{% trans "Submitter Email:" %}</strong></p></label>
                          <div class="col-md-8" >
                            <input class="form-control" type="text" name='submitter_mail' id='id_submitter_mail' value="{{request.user.email}}">
                          </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12 row ui-front">
                        <label class="col-md-2"><p><strong>{% trans "Description:" %}</strong></p></label>
                      <div class="col-md-10 row ticket_edit">
                        <div class="edit_note examples">
                            <textarea class=" mention-example2 form-control" rows="4" name='note' id='id_note' required></textarea>
                            <span style="font-size: 9pt">Type <b>"#"</b> symbol to link this Task to a Ticket(s)</span><br><br>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 row">
                      <div class="col-md-6 row ticket_edit">
                         <label class="col-md-4"><p><strong> {% trans "Project Initiation:" %}</strong></p></label>
                         <div class="col-md-8">
                            <select class=" form-control" name='project_agreement'> 
                                <option value= "">Select Agreement</option>
                                {% if tolaActivityData %}
                                  {% for data in tolaActivityData.agreements %}
                                    <option  value="{{data.project_name}}">{{data.project_name}}</option>
                                  {% endfor %} 
                                {% endif %}
                              </select>
                            <span style="font-size: 9pt">For tasks related to project agreements in TolaActivity</span>
                         </div>
                      </div>
                      <div class="col-md-6 row ticket_edit">
                            <label class="col-md-4"><p><strong>{% trans "Table:" %}</strong></p></label>
                            <div class="col-md-8" >
                              <select class=" form-control" name='table'> 
                                <option value= "">Select table</option>
                                {% if tolaTablesData.my_tables %}
                                  {% for table in tolaTablesData.my_tables %}
                                    <option  value="{{table.name}}">{{table.name}}</option>
                                  {% endfor %} 
                                {% endif %}
                                {% if tolaTablesData.my_silos %}
                                  {% for table in tolaTablesData.my_silos %}
                                    <option  value="{{table.name}}">{{table.name}}</option>
                                  {% endfor %} 
                                {% endif %}
                              </select>
                              <span style="font-size: 9pt">For tasks related to tables in TolaTables</span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-12 row task_spacing">
                       <div class="col-md-6 row ticket_edit">
                              <label class="col-md-4"><p><strong>{% trans "Status:" %}</strong></p></label>
                              <div class="col-md-8">
                                <select class="form-control" id='id_status' name='status'>
                                  <option value='1'>Active</option>
                                  <option value='2'>Reopened</option>
                                  <option value='3'>Completed</option>
                                  <option value='4'>Cancelled</option>
                                </select >
                              </div>
                          </div>
                          <div class="col-md-6 row ticket_edit">
                             <label class="col-md-4"><p><strong>{% trans "Priority:" %}</strong></p></label>
                             <div class="col-md-8">
                               <select class="form-control" id='id_priority' name='priority'>

                                  <option value='2'>Normal</option>
                                  <option value='1'>High</option>
                                  <option value='3'>Low</option>
                                </select>
                             </div>
                          </div>
                        </div>
                        <div class="col-md-12 row task_spacing">

                          <div class="col-md-6 row ticket_edit">
                            <label class="col-md-4"><p><strong>{% trans "Created Date:" %}</strong></p></label>
                            <div class="col-md-8">
                               <input class="form-control" name='created_date' id='id_created_date' >
                            </div>
                          </div>
                            <div class="col-md-6 row ticket_edit">
                            <label class="col-md-4"><p><strong>{% trans "Due Date:" %}</strong></p></label>
                            <div class="col-md-8">
                            <input class="form-control" name='due_date' id='id_due_date' required>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 row task_spacing">
                          <div class="col-md-6 row ticket_edit">
                            <label class="col-md-4"><p><strong>{% trans "Created by:" %}</strong></p></label>
                            <div class="col-md-8">
                              <select class=" form-control" name='created_by' id='id_created_by'>
                                <option value="{{request.user.id}}">{{request.user.username}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6 row ticket_edit">
                            <label class="col-md-4"><p><strong>{% trans "Assigned to:" %}</strong></p></label>
                            <div class="col-md-8">
                              <select class="form-control" name='assigned_to' id='id_assigned_to'>
                                <option>-------</option>
                                {% for user in assignable_users%}
                                  <option value='{{user.id}}'>{{user.username}}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
                     
                        <div class="col-md-12 row modal_button">
                          <label class= "col-md-6 row ticket_edit">
                              <input class="btn btn-primary col-md-offset-5" type='submit' value='{% trans "Submit" %}' />
                          </label>
                      </div>
                      {% csrf_token %}
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>
            {% if tolaActivityData.approvals %}
            <div>
                <button class= "btn btn-warning" data-toggle="collapse" data-target="#tolaactivity">Project Initiations</button>
                <div id="tolaactivity" class="panel-collapse collapse" style="margin-top: 10px">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#agreements">Project Agreements</a></li>
                      <li><a data-toggle="tab" href="#checklist">Checklist Items</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="agreements" class="tab-pane fade in active">
                        <div class="panel-body">
                          <table class="table table-striped">
                            <tr>
                              <th>Project</th>
                              <th>Status</th>
                              <th>Start Date</th>
                              <th>Due Date</th>
                              <th></th>
                            </tr>
                            {% for agreement in tolaActivityData.approvals|dictsort:"expected_start_date" reversed%}
                            <tr>
                              <td>{{agreement.project_name}}</td>
                              <td> {% if agreement.approval == 'approved' %} Done {% else %} Active {% endif %}</td>
                              <td>{{agreement.id}}</td>
                              <td>{{agreement.expected_end_date}}</td>
                              <td><a href="http://activity.toladata.io/workflow/projectagreement_update/{{agreement.id}}/"  target="_blank"><span class="glyphicon glyphicon-ok"></span> Approve</a></td>
                            </tr>
                            {% endfor %}
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              {% endif %}
            <!-- start gaming -->
           <!-- <div class="col-md-12 row">
            <h3 class="font9">Task Solving Game</h3>
              <div class="col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading"><strong>Leaders Draw Board</strong></div>
                  <div class="panel-body">
                  <ol>
                    <li >Participant 1</li>
                    <li >Participant 2</li>
                    <li >Participant 3</li>
                    <li >Participant 4</li>
                    <li >Participant 5</li>
                  </ol>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-primary scores">
                  <div class="panel-heading"><strong>My performance</strong></div>
                  <div class="panel-body">
                  <ul>
                    <li >My Points</li>
                    <li >My Tasks</li>
                    <li >My Assigned Tasks</li>
                  </ul>
                  </div>
                </div>
              </div>

            </div>
            <!-- end gaming -->
        </div>

        <div class="col-md-3 col-sm-3 task_minor ">
          <div>
            <div class="panel panel-info ">
              <div class="panel-heading">
                <strong>Tasks <span class="badge"></span></strong>
              </div>
              <div class="panel-body"> 
                <div class="sort_panels">
                   <span class="glyphicon glyphicon-list-alt"></span><a href="#">&nbsp;Assigned to Me </a><strong> <span class="badge read_more"> {{ total_tasks_assigned }} </span></strong>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"> <strong>Sort Tasks</strong></div>
                     <form method='get' action='./'>
                    <div class="panel-body ">
                    <select class="btn btn-default dropdown-toggle" id='id_sort' name='sort'>
                    <option value='created_date'{% ifequal query_params.sorting "created_date"%} selected='selected'{% endifequal %} href="{% url 'task_list' %}?{% if query_string %}{{ query_string }}{% endif %}&sort=created_date">
                        {% trans "Created" %}
                    </option>
                    <option value='due_date'{% ifequal query_params.sorting "due_date"%} selected='selected'{% endifequal %} href="{% url 'task_list' %}?{% if query_string %}{{ query_string }}{% endif %}&sort=due_date">
                        {% trans "Due Date" %}
                    </option>
                    <option value='task'{% ifequal query_params.sorting "task"%} selected='selected'{% endifequal %} href="{% url 'task_list' %}?{% if query_string %}{{ query_string }}{% endif %}&sort=task">
                        {% trans "Task Title" %}
                    </option>
                    <option value='status'{% ifequal query_params.sorting "status"%} selected='selected'{% endifequal %} href="{% url 'task_list' %}?{% if query_string %}{{ query_string }}{% endif %}&sort=status">
                        {% trans "status" %}
                    </option>
                    <option value='priority'{% ifequal query_params.sorting "priority"%} selected='selected'{% endifequal %} href="{% url 'task_list' %}?{% if query_string %}{{ query_string }}{% endif %}&sort=priority">
                        {% trans "Priority" %}
                    </option>
                    <option value='assigned_to'{% ifequal query_params.sorting "assigned_to"%} selected='selected'{% endifequal %} href="{% url 'task_list' %}?{% if query_string %}{{ query_string }}{% endif %}&sort=assigned_to">
                        {% trans "Assigned" %}
                    </option>
                  </select>
                    </div>
                </form>
                <script type="text/javascript">
                  document.getElementById('id_sort').onchange = function() {
                      window.location.href = this.children[this.selectedIndex].getAttribute('href');
                  }
                </script>
                </div>
             </div>
             <!-- filter tickets -->
      <div class="panel panel-info">
        <div class="panel-heading"> 
          <strong>{% trans "Filter Tickets" %}</strong>
        </div>
           
        <div class="panel-body" id="ko">
            <div class="row" id="ko1">
              <div class=" col-md-12">         
                <strong>Click</strong> on <strong>"+"</strong> to add filters to query on and  <strong>"-"</strong>  to remove a filter.
              </div>
            </div>
            <form class="filter_form">
              <select name='select' id='filterBuilderSelect' class="btn btn-default col-md-8 dropdown-toggle">
                <option value='Priority'>{% trans "Priority" %}</option>
                <option value='Assigned_to'>{% trans "Assigned To " %}</option>
                <option value='Status'>{% trans "Status" %}</option>
                <option value='Dates'>{% trans "Due Date" %}</option>
                <option value='Dates_created'>{% trans "Created Date" %}</option>
              </select>
              <input class="btn sort_add" type='button' id='filterBuilderButton' value='+' />
              {% csrf_token %}
            </form>
            <form method='get'>
              <div class='thumbnail sorting_form filterBox{% if query_params.filtering.priority__in %} filterBoxShow{% endif %}' id='filterBoxPriority'>
                <div class="keywords">
                    <label for='id_priorities'>{% trans "Priority: " %}</label>
                    <select id='id_priorities' name='priority' multiple='selected' rows="4" class="owners_select" >{% for p in priority %}
                      <option value='{{ p.0 }}'{% if p.0|in_list:query_params.filtering.priority__in %} selected='selected'{% endif %}>{{ p.1 }}</option>{% endfor %}
                    </select>
                  </div>
                  <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                  <input type='button' class='filterBuilderRemove' value='-' />
                </div> 

              <div class='thumbnail sorting_form filterBox{% if query_params.filtering.assigned_to__id__in %} filterBoxShow{% endif %}' id='filterBoxAssigned_to'>
                <div class="keywords">
                  <label  for='id_assigned'>{% trans "Assigned To: " %}</label>
                  <select id='id_assigned' name='assigned_to' multiple='selected' rows="4" class="owners_select">
                    {% for user in assignable_users%}
                      <option value='{{user.id}}'>{{user.username}}</option>
                    {% endfor %}
                  </select>
                </div>
                <p class='filterHelp'>{% trans "Ctrl-Click to select multiple options" %}</p>
                <input type='button' class='filterBuilderRemove' value='-' />
              </div>

              <div class='thumbnail sorting_form filterBox{% if query_params.filtering.status__in %} filterBoxShow{% endif %}' id='filterBoxStatus'>
                <div class="keywords">
                  <label for='id_statuses'>{% trans "Status(es): " %}</label>
                  <select id='id_statuses' name='status' multiple='selected' rows="4" class="status_select" >{% for s in status_choices %}
                    <option value='{{ s.0 }}'{% if s.0|in_list:query_params.filtering.status__in %} selected='selected'{% endif %}>{{ s.1 }}</option>{% endfor %}
                  </select>
                </div>
                <p class='filterHelp'>{% trans "Ctrl-click to select multiple options" %}</p>
                <input type='button' class='filterBuilderRemove' value='-' />
              </div>

              <div class='thumbnail sorting_form filterBox{% if query_params.filtering.due_date__gte or query_params.filtering.due_date__lte %} filterBoxShow{% endif %}' id='filterBoxDates'>
                <label for='id_due_from'>{% trans "Date (From): " %}</label>
                <input class="date_input" type='text' name='due_from' value='{{ query_params.filtering.due_date__gte }}' id='id_due_from' />
                <div class="date_to">
                  <label for='id_due_to'>{% trans "Date (To): " %}</label>
                  <input  class="date_input" type='text' name='due_to' value='{{ query_params.filtering.due_date__lte }}' id='id_due_to' />
                </div>
                <p class='filterHelp'>{% trans "Use YYYY-MM-DD date format, eg 2011-05-29" %}</p>
                <input type='button' class='filterBuilderRemove' value='-' />
              </div>

              <div class='thumbnail sorting_form filterBox{% if query_params.filtering.created_date__gte or query_params.filtering.created_date__lte %} filterBoxShow{% endif %}' id='filterBoxDates_created'>
                <label for='id_created_from'>{% trans "Date (From): " %}</label>
                <input class="date_input" type='text' name='created_from' value='{{ query_params.filtering.created_date__gte }}' id='id_created_from' />
                <div class="date_to">
                  <label for='created_to'>{% trans "Date (To): " %}</label>
                  <input  class="date_input" type='text' name='created_to' value='{{ query_params.filtering.created_date__lte }}' id='id_created_to' />
                </div>
                <p class='filterHelp'>{% trans "Use YYYY-MM-DD date format, eg 2011-05-29" %}</p>
                <input type='button' class='filterBuilderRemove' value='-' />
              </div>

              <hr style='clear: both;' />
              <input class="btn btn-primary" type='submit' value='{% trans "Apply Filter" %}' />
              
              {% csrf_token %}
            </form>
            </div>
          </div>
          <!-- end filters -->
            
          </div>

        </div>
        </div>
  </div>
</div>
{% if query %}
  <script type="text/javascript">
      $(".highlight_div").highlight("{{ query }}");
    
  </script>
{% endif %}
  <script>
  $(function() {
    $( "#id_due_date" ).datepicker({
      dateFormat: "yyyy-mm-dd",
    });
    /*document.getElementById("id_due_date").setAttribute('value', new Date());*/

    $( "#id_created_date" ).datepicker({
      dateFormat: "yyyy-mm-dd"
    });
    $( "#id_edit_due_date" ).datepicker({
      dateFormat: "yyyy-mm-dd"
    });

    $( "#id_edit_created_date" ).datepicker({
      dateFormat: "yyyy-mm-dd"
    });

   var date = new Date();
   var datestring = ('0000' + date.getFullYear()).slice(-4) + '-' + ('00' + (date.getMonth() + 1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2);
   document.getElementById('id_created_date').value = datestring;
   document.getElementById('id_due_date').value = datestring;
   document.getElementById('id_edit_due_date').value = datestring;
   document.getElementById('id_edit_created_date').value = datestring;

    
  });
  </script>
<script type='text/javascript' language='javascript'>
$(document).ready(function() {
    // Enable Tabs
    /*$("#searchtabs").tabs({
        collapsible:true
    });
    // Hide all tabs by default
    $("#searchtabs > ul > li").removeClass().addClass("ui-corner-top ui-state-default");
    $("#searchtabs > div").addClass("ui-tabs-hide");
    $("#select_all").click(function() {
        $(".ticket_multi_select").attr('checked', true);
        return false;
    });
    $("#select_none").click(function() {
        $(".ticket_multi_select").attr('checked', false);
        return false;
    });
    $("#select_inverse").click(function() {
        $(".ticket_multi_select").each(function() {
            $(this).attr('checked', !$(this).attr('checked'));
        });
        return false;
    });*/

//show selected query box when '+' button is clicked
    $("#filterBuilderButton").click(function() {
        var boxName = "#filterBox" + $("#filterBuilderSelect").val();
        $(boxName).slideDown();
        return false;
    });
    $(".filterBuilderRemove").click(function() {
        var boxName = "#" + $(this).parents(".filterBox").attr('id');
        $(boxName).slideUp();
        $(boxName).children("input:text").each(function() {
            $(this).val("");
        });
        $(boxName).children("input:checkbox").each(function() {
            this.checked = false;
        });
        $(boxName).children("select").each(function() {
            this.selectedIndex = -1;
        });
        return false;
    });
});

</script>

<script type='text/javascript' language='javascript'>
    $(function(){
    $("#filterBoxPriority").hide();
    $("#filterBoxPriority").hover(function() {
        $("filterBoxPriority").slideToggle("fast");
    });
    $("#filterBoxAssigned_to").hide();
    $("#filterBoxAssigned_to").hover(function() {
        $("filterBoxAssigned_to").slideToggle("fast");
    });
    $("#filterBoxStatus").hide();
    $("#filterBoxStatus").hover(function() {
        $("filterBoxStatus").slideToggle("fast");
    });
    $("#filterBoxDates").hide();
    $("#filterBoxDates").hover(function() {
        $("filterBoxDates").slideToggle("fast");
    });

    $("#filterBoxDates_created").hide();
    $("#filterBoxDates_created").hover(function() {
        $("filterBoxDates_created").slideToggle("fast");
    });

});
</script>
</script>
<script src='{{ STATIC_URL }}task/js/task.js' type='text/javascript'></script>

{% endblock content %}