{% load i18n %}


              {% for ticket in ticket_list %}
              <div class="panel panel-info">
                <div class="panel-heading">
                      <a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket | upper}}<strong class="font8"> {{ ticket.title }} </strong></a>
                      {% if ticket.progress %}
                      <div class="read_more">
                        <strong> <span class="badge">{{ticket.progress}} </span></strong>
                      </div>
                      {% endif %}
                      <br>
                    Reported on {{ ticket.created | date}}, {{ ticket.created | time}} by {{ ticket.submitter_email }}
                </div>
                <div class="panel-body">
                <p class="description">{{ ticket.description }}</p>
                </div>
                <div class="panel-footer">
                    <span class="glyphicon glyphicon-tags"></span> <strong> Tags:</strong> {% for tag in ticket.tags.all %}
                      <span class="label label-info">{{tag}}</span>
                    {% endfor %}
    |               <span class="glyphicon glyphicon-cog"></span><strong> Tasks</strong>
                </div>
              </div>
            {% endfor %}

