{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app = "helpdesk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tola Work is a helpdesk, documentation and support tool for TolaData">
        <meta name="author" content="TolaData">

        <title>{% block title %} Tola Work {% endblock %}</title>

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/tola-data-icon-red.png" type="image/png">
        
        <!-- dropone.css -->
        <link href="{{ STATIC_URL}}css/dropzone.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- JQuery UI CSS -->
        <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />

        <!-- Custom Footer CSS -->
        <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" type="text/css">

        <!-- Tagging -->
        <link href="{{ STATIC_URL }}easy_select2/vendor/select2/css/select2.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    

        {% block extra_js_in_header %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' type='text/javascript'></script>
        
        <!-- App specific Javascript -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
        <link href="{{ STATIC_URL }}css/jquery.growl.css" rel="stylesheet" type="text/css">

      <!--   <script type="text/javascript" src="{{ STATIC_URL }}js/angular.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/paginate.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ng-text-truncate.js"></script> -->
        
        <script type="text/javascript" src="{{ STATIC_URL }}easy_select2/vendor/select2/js/select2.min.js"></script>

        {% endblock %}

    </head>
    <body>
        <!--http://getbootstrap.com/examples/sticky-footer-navbar/-->
        <div class="navbar navbar-default navbar-fixed-top  " role="navigation">
            <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img style="margin-top: -3px; max-width: 140px;" src="{{ STATIC_URL }}img/logo-black.png" />
                </a>

            </div>
            <div class="navbar-collapse collapse " role="navigation">
                <ul class="nav navbar-nav row">
                    <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> <font class="font6">Home</font></a></li>
                    <li><a href='{% url 'helpdesk_list' %}'><span class="glyphicon glyphicon-tags"></span> <span class="nav-text"><font class="font6">Tickets</font></span></a></li>
                    {% if user.is_authenticated %}
                    <li><a href='' data-toggle="modal" data-target="#ticketModal"><span class="glyphicon glyphicon-plus"></span> <span class="nav-text"><font class="font6">New Ticket</font></span></a></li>
                    
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li><a href='{% url 'login' %}'><span class="glyphicon glyphicon-plus"></span> <span class="nav-text"><font class="font6">New Ticket</font></span></a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href='{% url 'task_list' %}'><span class="glyphicon glyphicon-tasks"></span> <span class="nav-text"><font class="font6">Tasks</font></span></a></li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li><a href='{% url 'helpdesk_report_index' %}'><span class="glyphicon glyphicon-stats"></span> <span class="nav-text"><font class="font6">Stats</font></span></a></li>
                    {% endif %}
                    <!-- <li class="font8"><a href="#" class="dropdown-toggle " data-toggle="dropdown"><font class="font8">Knowledgebase</font><b class="caret"></b></a>
                        <ul class="dropdown-menu ">
                            <li><a href='{% url 'blog' %}'><span class="glyphicon glyphicon-info-sign"></span> <span class="nav-text"><font class="font6">Blog/Release Info</font></span></a></li>
                            <li><a href='{% url 'helpdesk_kb_index' %}'><span class="glyphicon glyphicon-tree-deciduous"></span> <span class="nav-text"><font class="font6">Knowledgebase</font></span></a></li>
                        </ul>
                    </li> -->
                </ul>
                {% if user.is_authenticated  %}
                <span>{{ request.session.country }}</span>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu ">
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
                            <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        </ul>
                    </li><!-- .dropdown collapse -->
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> <font class="font6">Login </font></a>
                    </li><!-- .dropdown collapse -->
                </ul>
                {% endif %}
            </div><!-- .navbar-header collapse -->
            </div><!-- .container collapse -->
        </div><!-- .navbar collapse -->
        <div class="container">

            <div>{% block bread_crumb %}{% endblock %}</div>
            <div id = "alerts">
                <!-- Any messages for users -->
                {% block messages %}
                    {% if messages %}
                            {% for message in messages %}
                                    {% if 'safe' in message.tags %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% else %}
                                        <div class="alert alert-{{message.tags}}">{{ message|safe }}</div>
                                    {% endif %}
                            {% endfor %}
                    {% endif %}
                {% endblock messages %}
            </div>
            <!-- Page title  -->
            <h2>{% block page_title %}{% endblock %}</h2>

            <!-- Main body content -->
            <p>{% block content %}{% endblock %}</p>

            <!-- Main body content -->
            <p>{% block helpdesk %}{% endblock %}</p>

        </div><!-- .container collapse -->
                
        <div id="footer"  class="col-md-12 col-sm-12">
            <!-- Sticky Footer -->
            <div class="container">
                <div class="col-md-6 col-sm-6 text-left">
                    <a href="http://www.toladata.com" class="text-muted"><b>Tola</b>Data: Built by</a> <a href="http://www.mercycorps.org" class="text-muted">MercyCorps</a>
                </div>

                <div class="col-md-6 col-sm-6 text-right"> <a href="http://tola.work/documentation" class="text-muted">Documentation</a> | <a href="http://tola.work/helpdesk/tickets/submit/" class="text-muted">Feedback</a> | <a href="https://github.com/toladata/TolaActivity/blob/master/LICENSE" class="text-muted">License</a>
                </div>
            </div>
        </div>
        <!-- add ticket modal -->
                    <div class="modal fade " id="ticketModal" role="dialog">
                      <div class="modal-dialog task_form modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title font9">Submit a Ticket</h3>
                            <p class="font9">Unless otherwise stated, all fields are required. Please provide as descriptive a title and description as possible.</p>
                          </div>
                          <div class="modal-body">
                            <div class="alert alert-success" role="alert">
                              <p>'We recommend that you search if such ticket or request already exists before you enter a new ticket. Just check if a similar ticket has not been raised<br>If you have done a search, ignore this message!'</p>
                            </div>
                            <form class="form-horizontal" method='post' action='/helpdesk/tickets/submit/' enctype='multipart/form-data'  name="most" id="ticket_form">
                              {% load crispy_forms_tags %}
                              {% crispy form form.helper %}
                              {% comment %}{% for field in form %}
                                {% if field.is_hidden %}
                                    {{ field }}
                                {% else %}
                                  <dt>
                                    <label for='id_{{ field.name }}'>{% trans field.label %}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}
                                  </dt>
                                  <dd>{{ field }}</dd>
                                  {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
                                  {% if field.help_text %}<dd class='form_help_text'>{% trans field.help_text %}</dd>{% endif %}

                                {% endif %}
                              {% endfor %}
                              {% endcomment %}
                             <!--  attach file section -->
                              <div class = "col-md-offset-2 col-md-10">
                                <div class="row mydropdiv">
                                    <div class=" col-md-offset-1 dropzone col-md-10" id="dZUpload" style="margin-botttom:10px" ></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <br><br>
                                <div class='buttons form-group'>
                                <input type='submit' class="btn btn-primary" value='Submit Ticket' />
                                </div>
                             </div> 
                             <!-- End of attachment section -->
                            {{ form.media }}

                            {% csrf_token %}
                            <script>
                                $("#id_tags").select2({
                                        tags: true,
                                       allowClear: true,
                                });
                            </script>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div> 
                      </div>
                    </div>
                    <!-- end add ticket modal -->
        <!-- Typekit (Fonts) -->
        <script src="https://use.typekit.net/shi4wqr.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <!-- data tables jquery javascript library -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

        <!-- Bootstrap compiled javascript plugins -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/naturalSort.js"></script>

        <!--  js file for the table export functionalities -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/buttons.html5.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="{{STATIC_URL}}js/dropzone.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.growl.js"></script>
        {% block extra_js_in_body %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-73736890-3', 'auto');
          ga('send', 'pageview');

    $(document).ready(function(){

        var csrftoken = $("#ticket_form").find('input[name="csrfmiddlewaretoken"]').val();

        var list_of_files = new Array();

        Dropzone.autoDiscover = false;
        
        var mydropzone1 = new Dropzone("#dZUpload", {
            uploadMultiple: true,
            maxFiles: 5,
            autoProcessQueue : false,
            url: "/helpdesk/tickets/submit/",
            init : function() {
                this.on("addedfile", function(file)
                    {
                        if (list_of_files.length < 5)
                        {
                            list_of_files.push(file)
                            console.log("file added");
                        }
                    });
            }
        });

        document.onpaste = function(event){
            var items = (event.clipboardData || event.originalEvent.clipboardData).items;

            for (index in items) {
              var item = items[index];
              console.log(item);
              if (item.kind === 'file') {
                // adds the file to your dropzone instance
               mydropzone1.addFile(item.getAsFile());
              }
            }
          }

        $('#ticket_form').on('submit', function(event){
                event.preventDefault();
                var data = new FormData($(this)[0]);
                if (document.getElementById('id_tags')) {

                      var tags = $('#id_tags').val();
                      if (tags !== null) {

                         for (var i = 0; i < tags.length; i++) {
                            data.append('tags[]', tags[i]);
                          };
                      };
                }
                
                      console.log(list_of_files);

                      for(i=0;i<list_of_files.length;i++)
                          {
                            data.append('attachment', list_of_files[i]);
                          }

                    create_ticket(data, csrftoken)

                })
    });
</script>

        {% endblock %}
    </body>
</html>

