{% extends "base.html" %}

{% block content %}

<script src="{{ STATIC_URL }}js/highcharts/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/highcharts/js/modules/exporting.js"></script>

<script>

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#pie_container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor: 'transparent'
            },
            title: {
                text: 'Tickets Open/Closed'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },

            series: [{
                name: "Type",
                colorByPoint: true,
                data: [
                {% for item in tickets %}
                    {
                        name: "{% if item.status == 1 %} Open {%elif item.status == 2%}Re-Opened{% elif item.status == 3%}Resolved{% elif item.status == 4%}Closed{% elif item.status == 5%}Duplicate{% endif %}",
                        y: {{ item.total }}
                    },
                {% endfor %}
                ]
            }]
        });

    });

});

</script>
<div class="container">
	<br/>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Tola Help</h3>
                    <p>Get help setting up, using and configuring Tola Activity, Tola Data.  Report any issues you are having and request new features.</p>
                    <br/>
                    <a href="/helpdesk/tickets/submit" class="btn btn-lg btn-success">Submit Report</a>
                    <br/>
                    <br/>
                    </div>
                    <div class="col-md-4">
                        <div id="pie_container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
              <h3>Recent Tickets</h3>
              <table class="table">
                  <tr>
                      <th>Status</th>
                      <th>Queue</th>
                      <th>Title</th>
                      <th>Date Created</th>
                  </tr>
                  {% for item in recent_tickets %}
                  <tr>
                      <td>{% if item.status == 1 %} Open {%elif item.status == 2%}Re-Opened{% elif item.status == 3%}Resolved{% elif item.status == 4%}Closed{% elif item.status == 5%}Duplicate{% endif %}</td>
                      <td>{{ item.queue }}</td>
                      <td><a href="/helpdesk/tickets/{{ item.id }}/">{{ item.title }}</a></td>
                      <td>{{ item.created }}</td>
                  </tr>
                  {% endfor %}
              </table>
            </div>
        </div>
        <div class="col-md-6">

            <h3>Tola Tools</h3>
            <div class="list-group">
                <a href="https://tola-data.mercycorps.org" class="list-group-item active">
                    Tola Data
                </a>
                <li class="list-group-item">Latest Release: <a href="{{ tola_url }}"><span class="badge">{{ tola_number }}</span></a></li>
                <li class="list-group-item">Status: {% if data_up == 0 %} SERVER IS DOWN {% else %} Server is up!{% endif %}</li>
            </div>
            <div class="list-group">
                <a href="https://tola-activity.mercycorps.org" class="list-group-item active">
                    Tola Activity
                </a>
                <li class="list-group-item">Latest Release: <a href="{{ tola_activity_url }}"><span class="badge">{{ tola_activity_number }}</span></a></li>
                <li class="list-group-item">Status: {% if data_up == 0 %} SERVER IS DOWN {% else %} Server is up!{% endif %}</li>
            </div>

        </div>
    </div>




</div>


{% endblock content %}
