{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"> 

<head>	
	<meta charset="utf-8">
	<title>TolaData</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png">
	
	
	<!-- 	splash screen css files -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/splash.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/fontawesome-4.2.0.min.css" rel="stylesheet" type="text/css">
    <!-- fonts -->
    <script src="https://use.typekit.net/shi4wqr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- splash screen js files -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizer.js"></script>


	
</head>
		
<body>		
<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>

<!-- Remeber to put all the content you want on top of the slider below the slider code -->   
  <header id="header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid col-md-12 col-sm-12 row">
      <div class="col-md-1 col-sm-1"></div>
        <div class="navbar-header col-md-3 col-sm-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#"> <img src="{{ STATIC_URL }}img/tola-data-primary-mark-light.png" > </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
          <li><a id="GoToHome" href="{% url 'home' %}" > <font class="font5"><strong>TolaWork</strong></font></a></li>
            <li><a id="GoToHome" href="{% url 'documentation' %}" > <font class="font5"><strong>About Us</strong></font></a></li>
        <li><a id="GoToAbout" href="#" > <font class="font5"><strong>Contact us</strong> </font></a></li>
          </ul>
        </div>
      </div>
    </nav>
    
  </header>
    
  <div class="splash">  
    <section id="intro" class="intro-parallax ">
      <div class="container splash_main">               
        <div class="row">
                  
          <!-- Intro Section Description -->    
          <div id="intro_description" class="col-sm-7 col-md-7">
          
            <!-- Intro Section Title -->
            <!-- <h1><strong>Tolawork</h1> -->
              
            <!-- Description #1 --> 
            <div class="intro_feature">
            <p> <font class="font6">Tola </font>improves how we evaluate program data by providing adaptable tools that support the things we learn from experience.</p>
              <h3 class="font8"><img src="{{ STATIC_URL }}img/tola-activity-icon-orange.png" class="icon"> Tola Activity</h3>
              <p>Tola activity is a collection of standard data forms, reports, and visualizations designed to track the impact of organizations' programs and projects. 
              </p>
            </div>
            <!-- Description #2 --> 
            <div class="intro_feature">
              <h3 class="font7"><img src="{{ STATIC_URL }}img/tola-tables-icon-blue.png" class="icon"> Tola  Tables</h3>
              <p>Tola Tables directly integrates with mobile data collection provider Ona to provide you with access to all of your data for import and management in Tola, or you can import any spreadsheet or Google Sheet of data you have. 
              </p>
            </div>  
            <div>
              <h3 class="font6"><img src="{{ STATIC_URL }}img/tola-data-icon-red.png" class="icon"> Tola Work</h3>
              <p>Tola Work is a helpdesk, documentation and support tool for TolaData</p>
            </div>
            <div class="intro_button text-center">
              <a class="btn btn-lg button" href="{% url 'documentation' %}">More information</a>
            </div>
            
          </div>  <!-- End Intro Section Description -->  
          
            
          <!-- Intro Section Form -->   
          <div id="intro_form" class="col-sm-4 col-md-4 col-md-offset-1">
          
            <!--Register form -->
            <div class="form_register">
              <h2 class="font4"> Register Now! </h2>
              
              <form class="row" id="register" method="post" action="/accounts/register/">
                {% csrf_token %}

                <div id="input_detail" class="col-md-12">
                  <input id="username" class="form-control" type="text" name="username" placeholder="Username"> 
                </div>
                  
                <div id="input_detail" class="col-md-12">
                  <input class="form-control" type="password" name="password1" placeholder="Enter your Password"> 
                </div>
                
                <div id="input_detail" class="col-md-12">
                  <input class="form-control" type="password" name="password2" placeholder="Confirm Your Password"> 
                </div>
    
                <!-- Submit Button -->
                <div id="form_register_btn" >
                  <input class="btn btn-info btn-lg" type="submit" value="Register">
                </div> 
              </form>
            </div> 
            <div class="col-md-12 col-sm-12 row login-prompt"> 
              <p class="font1">Already registered with TolaData? </p> 
              <div class="col-md-5 col-sm-6">
                <button type="button" class="btn button " data-toggle="modal" data-target="#myModal">Log In</button>
                <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          
                        </div>
                        <div class="modal-details">
                          <div class="modal-top">
                            <p>Login via</p>
                            <div class="social-buttons">
                                <a type="button" href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-info "><i class="fa fa-google"></i> Google</a>
                            </div>
                            <h4 >OR</h4>
                            <p>Login with Tola Account</p>
                           </div>
                      <form class="form" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                                            {% csrf_token %}
                          <div class="modal-body row">
                            
                            <div id="input_detail" class="col-md-10 col-sm-10">
                              <input class="form-control" type="text" name="username" placeholder="Username"> 
                            </div>
                              
                            <div id="input_detail" class="col-md-10 col-sm-10">
                              <input class="form-control" type="password" name="password" placeholder="Password"> 
                            </div>
                            <div class="col-md-12 col-sm-12 row ">
                              <div class="col-md-5 col-sm-6 modal-button">
                                <button type="submit" class="btn btn-info btn-lg form-control">Log In</button>
                              </div> 
                            </div>
                            </div>
                            <div class="modal-footer">
                              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --> 
                            </div>
                      </form>
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4"></div>
            </div>              
                          
          </div>  <!-- End Intro Section Form -->
        
        </div>  <!-- End row -->  
        <div>
      </div>     <!-- End container -->
      </div>
    </section> 
  </div>
</body>
<script type="text/javascript">
	$('.carousel').carousel();
</script>

</html>