{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"> 

<head>  
  <meta charset="utf-8">
  <title>TolaData</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png">
  <!-- fonts -->
    <script src="https://use.typekit.net/shi4wqr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!--  splash screen css files -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/splash.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/fontawesome-4.2.0.min.css" rel="stylesheet" type="text/css">
    <!-- splash screen js files -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
    
<body>    
<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="60000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>

<!-- Remeber to put all the content you want on top of the slider below the slider code -->   
  <header id="header">
    <nav class="navbar navbar-default">
      <div class="container col-md-12 col-sm-12 row">
      <div class="col-md-1 col-sm-1"></div>
        <div class="navbar-header col-md-3 col-sm-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#"> <img src="{{ STATIC_URL }}img/tola-data-primary-mark-light.png" > </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="GoToHome" href="{% url 'home' %}" > <font class="font5">TolaWork</font></a></li>
            <li><a id="GoToHome" href="{% url 'documentation' %}" > <font class="font5">About Us</font></a></li>
            <li><a id="GoToAbout" href="#" > <font class="font5">Contact us</font></a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user font9"></span> <font class="font5"> Log In </font><b class="caret font9"></b></a>
                <ul class="dropdown-menu"> 
                 <li>
                 <div class=" col-md-12 col-sm-12">
                    <h5 class="font10">Login via</h5>
                      <a type="button" href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-info "><i class="fa fa-google"></i> Google</a>
                    <h4 class="font10" >OR</h4>
                    <h5 class="font10">Login with Tola Account</h5>
                  </div>
                  <form class="form col-md-12 col-sm-12" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                      {% csrf_token %}
                    <div class=" row">
                        <div id="input_detail" class="col-md-12 col-sm-12">
                          <input class="form-control" type="text" name="username" placeholder="Username"> 
                        </div>
                        <div id="input_detail" class="col-md-12 col-sm-12">
                          <input class="form-control" type="password" name="password" placeholder="Password"> 
                        </div>
                        <div class="col-md-8 col-sm-9 row ">
                          <div class=" modal-button">
                            <button type="submit" class="btn btn-info btn-lg">Log In</button>
                          </div> 
                        </div>
                    </div>
                  </form>
               </li>
             </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
  </header>
    
  <div class="splash">  
    <section id="intro" class="intro-parallax ">
      <div class="container splash_main">               
        <div class="row">
                  
          <!-- Intro Section Description -->    
          <div id="intro_description" class="col-sm-7 col-md-7">
          
            <!-- Intro Section Title -->
            <!-- <h1><strong>Tolawork</h1> -->
              
            <!-- Description #1 --> 
            <div class="intro_feature">
            <p> <font class="font6">TolaData</font> combines ICT and M&E Systems with Open Data and Open Source tools to provide a dynamic platform for data discovery and high-impact analysis. </p>
              <h3 class="font8"><img src="{{ STATIC_URL }}img/tola-activity-icon-orange.png" class="icon"> Tola Activity</h3>
              <p>TolaActivity is a collection of standard data forms, reports, and visualizations designed to track the impact of organizations' programs and projects. There are two primary sections of Tola Activity: Project Workflow and Indicator Tracking.
              </p>
            </div>
            <!-- Description #2 --> 
            <div class="intro_feature">
              <h3 class="font7"><img src="{{ STATIC_URL }}img/tola-tables-icon-blue.png" class="icon"> Tola  Tables</h3>
              <p>TolaTables is a data collection, aggregation and management tool for all types of data collection methods designed to track the impact of NGO programs and projects in the field.
              </p>
            </div>  
            <div>
              <h3 class="font6"><img src="{{ STATIC_URL }}img/tola-data-icon-red.png" class="icon"> Tola Work</h3>
              <p>TolaWork is a helpdesk, documentation and support tool for TolaData</p>
            </div>
            <div class="intro_button text-center">
              <a class="btn btn-lg button" href="http://toladata.com/">More information</a>
            </div>
            
          </div>  <!-- End Intro Section Description -->  
          
            
          <!-- Intro Section Form -->   
          <div id="intro_form" class="col-sm-4 col-md-4 col-md-offset-1">
          
            <!--Register form -->
            <div class="form_register">
              <h2 class="font4"> Register Now! </h2>
              
              <form class="row" id="register" method="post" action="/accounts/register/">
                {% csrf_token %}

                <div id="input_detail" class="col-md-12">
                  <input id="username" class="form-control" type="text" name="username" placeholder="Username"> 
                </div>
                  
                <div id="input_detail" class="col-md-12">
                  <input class="form-control" type="password" name="password1" placeholder="Enter your Password"> 
                </div>
                
                <div id="input_detail" class="col-md-12">
                  <input class="form-control" type="password" name="password2" placeholder="Confirm Your Password"> 
                </div>
    
                <!-- Submit Button -->
                <div id="form_register_btn" >
                  <input class="btn btn-info btn-lg" type="submit" value="Register">
                </div> 
              </form>
            </div>
          </div>  <!-- End Intro Section Form -->
        
        </div>  <!-- End row -->  
        <div>
      </div>     <!-- End container -->
      </div>
    </section> 
  </div>
</body>
<script type="text/javascript">
  $('.carousel').carousel();
</script>

<!-- Typekit (Fonts) -->
<script src="https://use.typekit.net/shi4wqr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73736890-1', 'auto');
  ga('send', 'pageview');

</script>
</html>